<title>Product</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/product/addProduct.css">
<div class="wrapper">
    <div class="container">
        <div class="fast-navbar  d-none">
            <div class="fast-navbar-item" onclick="clickFastNavbar('Fire')">
                <i class="fas fa-fire"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-compass"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-clock"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-bars"></i>    
            </div>
        </div>
        {{!-- <a class="add-product-button" href="#">Add product</a> --}}
        {{!-- Phần breadscrum --}}
        {{!-- <div class="breadscrum">
            <ol class='breadscrum-list'>    
                <li class='breadscrum-item'>
                    <a href="/home">
                        <span>Home</span>
                    </a>
                </li>
                >>
                <li class='breadscrum-item'>
                    <a href="/home/figure">
                        <span>Figure</span>
                    </a>
                </li>
                >>
                <li class='breadscrum-item'>
                    <a href="/home/figure/Stein;Gate">
                        <span>Stein;Gate</span>
                    </a>
                </li>
            </ol>
        </div> --}}
        {{!-- Phần của product --}}
        <div class="screen-title">
            Thêm sản phẩm
        </div>
        
        <div class="product-container row">
            <div class="product-image col-md-4">
                <label class="add-image-label" for='avatar'>
                    <img class="product-current-upload-img" 
                     src="http://res.cloudinary.com/phiroud321/image/upload/v1639138454/add-2935429_960_720_xc31ip.png" 
                     alt="">  
                </label>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" style='display: none'>
            </div>
            <div class="product-info col-md-8">
                <input type="text" class="product-name" name="productName"></input>
                <div class="product-rating d-flex">
                    <div class="product-rating-average">
                        <i class="product-rating-icon fas fa-star"></i>
                        <i class="product-rating-icon fas fa-star"></i>
                        <i class="product-rating-icon fas fa-star"></i>
                        <i class="product-rating-icon fas fa-star"></i>
                        <i class="product-rating-icon fas fa-star"></i>
                    </div>
                    <div class="product-rating-number">
                        0 Đã đánh giá
                    </div>

                    <div class="product-sold d-flex">
                        0 Đã bán
                    </div>
                </div>
                <div class="product-place">
                    <i class="fas fa-map-marker-alt"></i>
                    <input class="product-location" name="location"></input>
                </div>
                <textarea type='text' class="product-description" cols="60" rows="5" name="description" placeholder="Mô tả sản phẩm"></textarea>
                <div class="product-price-sale">
                    <input type='number' class="product-import-price col-12" name="importPrice" placeholder="Giá nhập"></input>
                    <input type='number' class="product-old-price col-12" name="sellPrice" placeholder="Giá bán"></input>
                    <input type='number' class="product-price col-12" name="currentPrice" placeholder="Giá hiện tại"></input>
                    {{!-- <div class="sale-percent">7%</div> --}}
                </div>
                
                <div class="quantity-choose add-product d-flex mt-2">
                    <div class="quantity-chose-title add-product">Chọn số lượng thêm</div>
                    <input type="number" name="productQuantity" id="quantity_wanted" value="1" class="input-group form-control" min="1" aria-label="Quantity" style="display: block;">
                </div>
                <div class="buy-container add-product">
                    {{!-- <button class="add-to-cart bt-add-to-cart" onclick="addToCart()">
                        Add to cart 
                    </button> --}}
                    {{!-- <button class="add-to-cart bt-add-to-cart" onclick="addProduct()">
                        Thêm hàng vào cơ sở dữ liệu
                    </button> --}}
                    {{!-- <button class="buy-now">
                        Buy now
                    </button> --}}
                </div>
                
            </div>

        </div>  
        <div class="divider d-none">

        </div>
        <div class="product-detail-container d-none">
            <div class="detail-title add-product">
                Chi tiết sản phẩm
            </div>
            <div class="bread-scrum-detail content-container">
                <div class="title add-product">Doanh mục</div>
                {{!-- <input type='text' class="content"></input> --}}
                <button class="select-category template-button">
                    Chọn doanh mục sản phẩm
                </button>         
            </div>
            <div class="origin-detail content-container">
                <div class="title add-product">Địa danh</div>
                <button class="select-location template-button mt-2">
                    Chọn địa danh
                </button>    
            </div>
            <div class="remain-num content-container mt-2">
                <div class="title">Còn lại</div>
                <div class="content">4</div>    
            </div>
            <div class="detail-title">
                Mô tả sản phẩm
            </div>
            <textarea name="" id=""  style="width: 100%" rows="10"></textarea>
            {{!-- <div class="detail-description">
                Từ Max Factory / Good Smile Company. Xin vui lòng lại ?. Đây cũng phải là sự lựa chọn của Steins; Cái cổng. Từ loạt phim phiêu lưu khoa học viễn tưởng Steins; Gate là sự tái hiện của thiên tài trẻ, figma Kurisu Makise. Bằng cách sử dụng các khớp mượt mà nhưng có thể định vị của figma và chân đế figma có khớp nối đi kèm, bạn có thể diễn nhiều cảnh khác nhau. Cô ấy có ba biểu cảm: một khuôn mặt chuẩn, một khuôn mặt giận dữ và một khuôn mặt nhếch mép để thể hiện tất cả các khía cạnh của tính cách tsundere của cô. Phần cánh tay phụ được đưa vào để tạo lại tư thế "khoanh tay" cổ điển của cô. Mirai Gadget # 6: "Cyalume Sabre" cũng được bao gồm. Ngoài ra, có tổng cộng 12 bộ phận tay bổ sung được bao gồm, bao gồm cả bàn tay cho phép cô ấy cầm các vật quan trọng trong trò chơi, chẳng hạn như điện thoại di động và chai nước uống.
            </div> --}}
        </div>
        
         <div class="blog-container d-none">
            <div class="blog-title detail-title">
                Nơi sản xuất quà lưu niệm
            </div>
            <button class="select-blog template-button">
                Chọn blog
            </button>
            {{!-- <div class="blog-desc">
                Akihabara (秋葉原), also called Akiba after a former local shrine, is a district in central Tokyo that is famous for its many electronics shops. In more recent years, Akihabara has gained recognition as the center of Japan's otaku (diehard fan) culture, and many shops and establishments devoted to anime and manga are now dispersed among the electronic stores in the district. On Sundays, Chuo Dori, the main street through the district, is closed to car traffic from 13:00 to 18:00 (until 17:00 from October through March).
                Akihabara has been undergoing major redevelopment over the years, including the renovation and expansion of Akihabara Station and the construction of new buildings in its proximity. Among these newly opened buildings were a huge Yodobashi electronics store and the Akihabara Crossfield, a business complex with the aim of promoting Akihabara as a center for global electronics technology and trade.
            </div> --}}
            {{!-- <a href='#'>More</a> --}}
        </div>
        <div class="divider"></div>
        <button class="bt-add-product template-button mt-4 mb-4" onclick="addProduct()">
            Thêm hàng vào cơ sở dữ liệu
        </button>
            

        {{!-- Modal add category --}}
        <div class="category-modal d-none" id="addCategoryModal">
            <div class="category-modal-dialog">
                <div class="modal-content category-modal-container">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chọn doanh mục</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="category-modal-body">
                        <div class="list-category col-12">
                            <div class="list-category-item row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Morri Store
                                </div>
                            </div>
                            <div class="list-category-item tier-2 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm rẻ
                                </div>
                            </div>
                             <div class="list-category-item tier-3 row">
                                 <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm nhập khẩu rẻ
                                </div>
                            </div>
                            <div class="list-category-item tier-3 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm nội địa rẻ
                                </div>
                            </div>
                            {{!-- <div class="list-category-item tier-3 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <input class="category-item-name input col-8">
                                </input>
                            </div> --}}
                            <div class="list-category-item tier-2 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm đẹp
                                </div>
                            </div>
                            <div class="list-category-item row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Cốc sứ nghệ thuật
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer image-modal-footer">
                        <button type="button" class="btn btn-secondary btn-close-modal">Close</button>
                        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Modal chọn địa danh --}}
        
    </div>
    {{!-- Các modal để chọn blog, chọn doanh mục sản phẩm và địa danh ở đây --}}

    {{!-- Ở đây mình kiếm cách chuyển về trang chủ --}}
    <a class='link-to-manager d-none' href="/product/manager-view"></a>


</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var currentLink = '';
    //{{!-- const dropdownStatusButton = document.querySelector('.btn-dropdown-status'); --}}
    function clickFastNavbar(message) {
        alert(message);
    };

    var isUploaded = true;
    function uploadPicture() 
    {
        var fileName = document.getElementById('avatar').files[0];
        console.log(fileName);
        isUploaded = false;
        const formData = new FormData();
        formData.append("file", fileName)
        formData.append("upload_preset", "phiroud");
        axios.post(`https://api.cloudinary.com/v1_1/phiroud321/image/upload`, formData)
            .then(res => {
                console.log("link", res.data.url);
                currentLink = res.data.url;
                isUploaded = true;
            })
            .catch(err => {
                console.log("Thất bại");
            })
    }

    document.querySelector('#avatar').onchange = function(evt) {
        console.log('Nhận sự kiện click add hình rồi')
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.querySelector('.product-current-upload-img').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
            uploadPicture();
        }
    }
    function checkConstraint()
    {
        var name = document.querySelector('input[name="productName"').value;
        if(name.length == 0) {
            showAlertMorriStore('alert-danger', 'Tên sản phẩm không được trống');
            return false;
        }
        var location= document.querySelector('input[name="location"').value;
        if(location.length == 0) {
            showAlertMorriStore('alert-danger', 'Địa danh của sản phẩm không được trống');
            return false;
        }
        var quantity = document.querySelector('input[name="productQuantity"').value;
        if(quantity.length == 0) {
            showAlertMorriStore('alert-danger', 'Số lượng nhập của sản phẩm không được trống');
            return false;
        }
        var originalPrice = document.querySelector('input[name="importPrice"').value;
        if(originalPrice.length == 0) {
            showAlertMorriStore('alert-danger', 'Giá nhập của sản phẩm không được trống');
            return false;
        }
        var sellPrice = document.querySelector('input[name="sellPrice"').value;
        if(sellPrice.length == 0) {
            showAlertMorriStore('alert-danger', 'Giá bán của sản phẩm không được trống');
            return false;
        }
        var currentPrice = document.querySelector('input[name="currentPrice"').value;
        if(currentPrice.length == 0) {
            showAlertMorriStore('alert-danger', 'Giá hiện tại của sản phẩm không được trống');
            return false;
        }
        // Check xem thử ảnh đã tải lên xong chưa
        if(currentLink.length == 0) {
            showAlertMorriStore('alert-danger', 'Bạn chưa thêm ảnh cho sản phẩm hoặc ảnh chưa kịp tải lên');
            return false;
        }
        return true;
    }
    //{{!-- const addCartButton = document.querySelector('.btn-add-to-cart'); --}}
    async function addProduct() {
        {{!-- alert('Đang chạy axios') --}}
        var resultProduct;
        //GenID by last productID +1
        await axios.get(`http://localhost:3000/product/get-product`, {
            params: {filter:{}}
        })
        .then(res => {
            resultProduct = res.data.data;
            var deleteOutOfNumber = [];
            for(var i = 0; i < resultProduct.length ;i++)
            {
                if(resultProduct[i].remain > 0)
                deleteOutOfNumber.push(resultProduct[i]);
            }
            resultProduct = deleteOutOfNumber;
        })
        .catch(err => {
            alert(err)
            console.log(err)
            return;
        })
        if(!checkConstraint())
        {
            return;
        }

        var productIDGen = parseInt(resultProduct[resultProduct.length - 1].productID) + 1;
        var isContinue = false;
        try{
            const data = { 
                productID: productIDGen, 
                name: document.querySelector('input[name="productName"').value, 
                location: document.querySelector('input[name="location"').value, 
                province: document.querySelector('input[name="location"').value, 
                quantity: document.querySelector('input[name="productQuantity"').value, 
                remain: document.querySelector('input[name="productQuantity"').value,
                originalPrice:  document.querySelector('input[name="importPrice"').value,
                sellPrice:  document.querySelector('input[name="sellPrice"').value,
                currentPrice:  document.querySelector('input[name="currentPrice"').value,
                imgUrl: currentLink,
                description: document.querySelector('textarea[name="description"').value.trim(),
            };
            console.log("data", data);
            await axios.post(`http://localhost:3000/product/add-product`, data)
            .then(res => {
                console.log("Save success");
                showAlertMorriStore('alert-success', "Lưu thành công");
                document.querySelector('.link-to-manager').click();
            })
            .catch(err => {
                alert(err);
                if(err.response.data.message)
                {
                    alert(err.response.data.message);
                }
                console.log(err);
                isAddOK = false;
                showAlertMorriStore('alert-danger', 'Đã có lỗi xảy ra');
                
            })
        }
        catch(e)
        {
            showAlertMorriStore('alert-danger', 'Đã có lỗi xảy ra');
            return false;
        }
            
    };
</script>

