<title>Product</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/product/categorymodal.css">
<link rel="stylesheet" href="/css/product/locationmanager.css">
<div class="wrapper">
    <div class="container ">
        <div class="row product-manager">
            <div class="product-manager-title col-12">
                Quản lý hàng hoá
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="product-row">STT</th>
                        <th scope="col" class="product-row">ID</th>
                        <th scope="col" class="product-row">Tên</th>
                        <th scope="col" class="product-row">Số lượng nhập</th>
                        <th scope="col" class="product-row">Còn lại</th>
                    </tr>
                </thead>
                <tbody id='product-manager-container'>
                    
                </tbody>
            </table>
        </div>    
        <div class="divider mt-8" style='width: 100%; margin-top: 60px'>

        </div>
        <div class="row category-manager">
            <div class="category-manager-title col-8">
                Danh sách các doanh mục
            </div>
            <div class="category-manager-feature col-4">
                <button class="bt-add-category">
                    Chỉnh sửa doanh mục
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style='text-align: center; width:80px'>STT</th>
                        <th scope="col" style='text-align: right'>ID</th>
                        <th scope="col">Tên doanh mục</th>
                    </tr>
                </thead>
                <tbody id='category-manager-container'>
                    
                </tbody>
            </table>    

        </div>  
        <div class="row category-manager">
            <div class="category-manager-title col-8">
                Danh sách các địa danh
            </div>
            <div class="category-manager-feature col-4">
                <button class="bt-add-location">
                    Chỉnh sửa địa danh
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style='text-align: center;width:80px'>STT</th>
                        <th scope="col" style='text-align: center'>Hình ảnh</th>
                        <th scope="col" style='text-align: center'>ID</th>
                        <th scope="col" style='text-align: center'>Địa danh</th>
                    </tr>
                </thead>
                <tbody id='location-manager-container'>
                    <tr>
                        <td scope="col" class='location-info-cell' style='text-align: center'>1</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/hanoi.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>1</td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>Hà Nội</td>
                    </tr>
                    <tr>
                        <td scope="col" class='location-info-cell' style='text-align: center'>2</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/hcm.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>2</td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>TP HCM</td>
                    </tr>
                    <tr>
                        <td scope="col" class='location-info-cell' style='text-align: center'>3</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/danang.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>3</td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>Đà Nẵng</td>
                    </tr>
                    <tr>
                        <td scope="col" class='location-info-cell' style='text-align: center'>4</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/cantho.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>4</td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>Cần Thơ</td>
                    </tr>
                    <tr>
                        <td scope="col" class='location-info-cell' style='text-align: center'>5</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/thonhiky.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>5</td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>Huế</td>
                    </tr>
                    <tr>
                        <td scope="col" class='location-info-cell' style='text-align: center'>6</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/phap.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>6</td>
                        <td scope="col" class='location-info-cell' style='text-align: center'>An Giang</th>
                    </tr>
                    <tr>
                        <td scope="col" class='location-info-cell' style='text-align: center'>7</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/anh.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell'  style='text-align: center'>7</td>
                        <td scope="col" class='location-info-cell'  style='text-align: center'>Lâm Đồng</td>
                    </tr>
                    <tr>
                        <td scope="col" class='location-info-cell'  style='text-align: center'>8</td>
                        <td scope="col"style='text-align: center'>
                            <image class="img-location" src="/img/dia-diem/y.jpg">
                            </image>
                        </td>
                        <td scope="col" class='location-info-cell'  style='text-align: center'>8</td>
                        <td scope="col" class='location-info-cell'  style='text-align: center'>Bình Định</td>
                    </tr>
                </tbody>
            </table>    
        </div>  
        {{!-- Modal add category --}}
        <div class="category-modal d-none" id="addCategoryModal">
            <div class="category-modal-dialog">
                <div class="modal-content category-modal-container">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Quản lý các doanh mục</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="category-modal-body">
                        <div class="list-category col-12">
                            <div class="list-category-item row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Morri Store
                                </div>
                                <div class="category-item-action col-3">
                                    <i class="fas fa-edit category-item-icon"></i>
                                    {{!-- <i class="fas fa-plus category-item-icon" ></i> --}}
                                    <i class="fas fa-trash-alt category-item-icon"></i>
                                </div>
                            </div>
                            <div class="list-category-item tier-2 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm rẻ
                                </div>
                                <div class="category-item-action col-3">
                                    <i class="fas fa-edit category-item-icon"></i>
                                    {{!-- <i class="fas fa-plus category-item-icon" ></i> --}}
                                    <i class="fas fa-trash-alt category-item-icon"></i>
                                </div>
                            </div>
                             <div class="list-category-item tier-3 row">
                                 <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm nhập khẩu rẻ
                                </div>
                                <div class="category-item-action col-3">
                                    <i class="fas fa-edit category-item-icon"></i>
                                    {{!-- <i class="fas fa-plus category-item-icon" ></i> --}}
                                    <i class="fas fa-trash-alt category-item-icon"></i>
                                </div>
                            </div>
                            <div class="list-category-item tier-3 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm nội địa rẻ
                                </div>
                                <div class="category-item-action col-3">
                                    <i class="fas fa-edit category-item-icon"></i>
                                    {{!-- <i class="fas fa-plus category-item-icon" ></i> --}}
                                    <i class="fas fa-trash-alt category-item-icon"></i>
                                </div>
                            </div>
                            <div class="list-category-item tier-3 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <input class="category-item-name input col-8">
                                </input>
                                <div class="category-item-action col-3">
                                    <i class="fas fa-edit category-item-icon"></i>
                                    {{!-- <i class="fas fa-plus category-item-icon" ></i> --}}
                                    <i class="fas fa-trash-alt category-item-icon"></i>
                                </div>
                            </div>
                            <div class="list-category-item tier-2 row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Hàng lưu niệm đẹp
                                </div>
                                <div class="category-item-action col-3">
                                    <i class="fas fa-edit category-item-icon"></i>
                                    {{!-- <i class="fas fa-plus category-item-icon" ></i> --}}
                                    <i class="fas fa-trash-alt category-item-icon"></i>
                                </div>
                            </div>
                            <div class="list-category-item row">
                                <div class="category-add-button col-1">
                                    <i class="fas fa-plus category-item-icon" ></i>
                                </div>
                                <div class="category-item-name col-8">
                                    Cốc sứ nghệ thuật
                                </div>
                                <div class="category-item-action col-3">
                                    <i class="fas fa-edit category-item-icon"></i>
                                    {{!-- <i class="fas fa-plus category-item-icon" ></i> --}}
                                    <i class="fas fa-trash-alt category-item-icon"></i>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer image-modal-footer">
                        <button type="button" class="btn btn-secondary btn-close-modal">Close</button>
                        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                    </div>
                </div>
            </div>
        </div>


        {{!-- Modal manager location --}}
        <div class="location-modal d-none" id="locationModal">
            <div class="location-modal-dialog">
                <div class="modal-content location-modal-container">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Quản lý các địa danh</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="location-modal-body" >
                        {{!-- Ở đây mình sẽ hiển thị một cái bảng location --}}
                        <div style="overflow-y: auto;height: 350px">
                            <table class="table" style="overflow-y: auto;height: 300px">
                            <thead>
                                <tr>
                                    <th scope="col" style='text-align: center;width:80px'>STT</th>
                                    <th scope="col" style='text-align: center'>ID</th>
                                    <th scope="col" style='text-align: center'>Địa danh</th>
                                    <th scope="col" style='text-align: center;width:100px'>

                                    </th>
                                </tr>
                            </thead>
                            <tbody id='location-manager-container'>
                                <tr>
                                    <td scope="col" style='text-align: center'>1</td>
                                    
                                    <td scope="col" style='text-align: center'>1</td>
                                    <td scope="col" style='text-align: center'>Hà Nội</td>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" style='text-align: center'>2</td>
                                    
                                    <td scope="col" style='text-align: center'>2</td>
                                    <td scope="col" style='text-align: center'>TP HCM</td>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" style='text-align: center'>3</td>
                                    
                                    <td scope="col" style='text-align: center'>3</td>
                                    <td scope="col" style='text-align: center'>Đà Nẵng</td>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                 <tr>
                                    <td scope="col" style='text-align: center'>4</td>
                                    
                                    <td scope="col" style='text-align: center'>4</td>
                                    <td scope="col" style='text-align: center'>Cần Thơ</td>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" style='text-align: center'>5</td>
                                   
                                    <td scope="col" style='text-align: center'>5</td>
                                    <td scope="col" style='text-align: center'>Huế</td>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" style='text-align: center'>6</td>
                                    
                                    <td scope="col" style='text-align: center'>6</td>
                                    <td scope="col" style='text-align: center'>An Giang</th>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" style='text-align: center'>7</td>
                                    
                                    <td scope="col"  style='text-align: center'>7</td>
                                    <td scope="col"  style='text-align: center'>Lâm Đồng</td>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col"  style='text-align: center'>8</td>
                                    
                                    <td scope="col"  style='text-align: center'>8</td>
                                    <td scope="col"  style='text-align: center'>Bình Định</td>
                                    <td scope="col" style='text-align: center'>
                                        <div class="location-item-action col-3">
                                            <i class="fas fa-edit location-item-icon"></i>
                                            <i class="fas fa-trash-alt location-item-icon"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        
                        <button class='bt-add-location'>
                            Thêm địa danh
                        </button>
                    </div>
                    <div class="modal-footer image-modal-footer">
                        <button type="button" class="btn btn-secondary btn-close-modal">Close</button>
                        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Modal change location --}}
        <div class="add-location-modal" id="addlocationModal">
            <div class="add-location-modal-dialog">
                <div class="modal-content add-location-modal-container">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm địa danh</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="add-location-modal-body" style='display: flex'>
                        <img class="location-img" 
                            src="http://res.cloudinary.com/phiroud321/image/upload/v1639138454/add-2935429_960_720_xc31ip.png" 
                            alt=""
                        > 
                        <div class='input-location-container'>
                            <label for="" class="location-name-label">
                                Tên địa danh
                            </label>
                            <input type="text" style='width: 80%'>
                        </div>
                        
                    </div>
                    <div class="modal-footer image-modal-footer">
                        <button class='bt-add-location bt-add-location-js'>
                            Thêm địa danh
                        </button>
                        <button type="button" class="btn btn-secondary btn-close-modal">Close</button>
                        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // Get các sản phẩm từ database 
    var productContainer = document.querySelector('#product-manager-container')
    const data = {
        filter: {}   
    }
    axios.get(`http://localhost:3000/product/get-product`, {
        params: {...data}
    })
        .then(res => {
            result = res.data.data;
            console.log("result", result)
            // Thêm các sản phẩm vào innerHTMl
            var htmlForProduct = '';
            for(var i = 0 ; i < result.length;i++)
            {
                htmlForProduct += 
                `
                <tr class="product-item" style="transform: rotate(0);"> 
                    <th scope="row"><a href="/product/view-product/${result[i]._id}" class="stretched-link">${i+1}</a></th>
                    <td style='text-align: center'>${result[i]._id}</td>
                    <td>${result[i].name}</td>
                    <td style='text-align: center'>${result[i].quantity}</td>
                    <td style='text-align: center'>${result[i].remain}</td>
                </tr>
                `
            }
            {{!-- console.log("htmlProduct", htmlForProduct) --}}
            productContainer.innerHTML = htmlForProduct;    
        })
        .catch(err => {
            alert(err)
            console.log(err)
        })

    // Render các cái doanh mục theo mẫu 
    //(này là mình get từ server xuống và xử lý thì mới được ntn) 
    var listCategory = [
        {
            id: '1',
            name: 'Morri store',
            child: [
                {
                    id: '1.1',
                    name: 'Hàng lưu niệm rẻ',
                    child: [
                        {
                            id: '1.1.1',
                            name: 'Hàng lưu niệm nội địa rẻ',
                            child: [],
                        },
                        {
                            id: '1.1.2',
                            name: 'Hàng lưu niệm nhập khẩu rẻ',
                            child: [],
                        }
                    ]
                },
                {
                    id: '1.2',
                    name: 'Hàng lưu niệm đẹp',
                    child: [],
                }
            ]
        },
        {
            id: '2',
            name: 'Cốc sứ nghệ thuật',
            child: []
        }
    ];
    var countCategory = 0;

    function renderPartialCategory(smallcategory) {
        var htmlForSmallCategory = 
                    `<tr class="category-row">
                        <td scope="col" style='text-align: center'>${countCategory}</td>
                        <td scope="col" class="category-cell">${smallcategory.id}</td>
                        <td scope="col">${smallcategory.name}</td>
                    </tr>`;
        countCategory++;
        console.log("smallcategory", smallcategory);
        console.log("smallcategory.child",smallcategory.child);
        if(smallcategory.child.length   ==0) return htmlForSmallCategory;
        else {
            for(var i= 0; i < smallcategory.child.length; i++)
            {
                htmlForSmallCategory += renderPartialCategory(smallcategory.child[i]);
            }
            return htmlForSmallCategory;
        }
        
    }
    // Hiển thị các doanh mục sản phẩm
    function renderCategory()
    {
        var htmlForCategory = ``;
        for(var i = 0 ; i < listCategory.length ; i++)
        {
            htmlForCategory += renderPartialCategory(listCategory[i]);
        }
        var categoryContainer = document.querySelector('#category-manager-container');
        categoryContainer.innerHTML = htmlForCategory;
    }
    renderCategory();


    function changeCategoryModal(){
        var CategoryModal = document.querySelector('#addCategoryModal');
        if(CategoryModal.classList.contains('d-none')){
                CategoryModal.classList.remove('d-none');
        }
        else CategoryModal.classList.add('d-none');
    }
    // Thêm sự kiện add cho cái category
    document.querySelector('.bt-add-category').onclick = (e) => {
        changeCategoryModal();
        console.log('ABC')
    }
    // Thêm các nút tắt
    document.querySelector('.category-modal-dialog').onclick = (e) => {
        e.preventDefault();
        console.log(e.target);
        if(e.target.classList.contains('btn-close-modal') || e.target.classList.contains('btn-close'))
        {
            changeCategoryModal();
        }
        console.log('ABC')
    }

    // Xử lý mở modal location
    function changeLocationModal() {
        var locationModal = document.querySelector('#locationModal');
        console.log("locationModal", locationModal)
        if(locationModal.classList.contains('d-none')){
            locationModal.classList.remove('d-none');
        }
        else locationModal.classList.add('d-none');
    }
    // Xử lý các sự kiện click để đóng mở cái location modal
    document.querySelector('.bt-add-location').onclick = (e) => {
        changeLocationModal();
        console.log('ABC')
    }
    // Thêm các nút tắt
    document.querySelector('.location-modal-dialog').onclick = (e) => {
        e.preventDefault();
        console.log(e.target);
        if(e.target.classList.contains('btn-close-modal') || e.target.classList.contains('btn-close'))
        {
            changeLocationModal();
        }
        console.log('ABC')
    }

    function moveToProduct(id)
    {
        {{!-- alert("Chuyển đến trang "+ id); --}}
        window.location = ''
    }
</script>