<title>Chính sách đổi trả - MORRI STORE</title>
<div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-9">
                <p style="font-weight: 600; font-size: 2rem; margin-top:30px">Chính sách đổi trả</p>
            </div>
            <div class="col-9">
                <p style=" font-size: 1rem; text-align: justify">Thật khó chịu nếu phải làm công tác đổi/ trả cho đơn
                    hàng vừa mua!</p>
                <p style=" font-size: 1rem ; text-align: justify">Và cũng không mấy dễ chịu khi đọc những trang "Chính
                    sách đổi trả" dài
                    ngoằng và đủ thứ điều ràng buộc (thường là như thế).</p>
                <p style=" font-size: 1rem ; text-align: justify">- Khách hàng <span
                        style="font-size: 1rem; font-weight:700">được đổi hoặc
                        trả</span> sản phẩm <span style="font-size: 1rem; font-weight:700">trong vòng 60 ngày</span> kể
                    từ ngày nhận được sản phẩm.</p>
                <p style=" font-size: 1rem ; text-align: justify">- Bất kỳ sản phẩm nào đặt mua tại MORRI STORE (ngoại trừ
                    Outlet và sản phẩm
                    Pre-Order phiên bản số lượng giới hạn, không về thêm hàng) cũng được áp dụng chính sách này, kể cả
                    sản phẩm unbox. (Ai mà chịu được một quá quà lưu niềm mà bị hỏng ngay lần đầu tiên nhận chúng)</p>
                <p style=" font-size: 1rem ; text-align: justify">- Trường hợp đổi, <span
                        style="font-size: 1rem; font-weight:700">khách hàng
                        sẽ chịu chi phí vận chuyển chỉ với 15.000 VNĐ</span>, và MORRI STORE sẽ <span
                        style="font-size: 1rem; font-weight:700">giao lại hàng miễn phí</span> cho Khách hàng.</p>
                <p style=" font-size: 1rem ; text-align: justify">- Trường hợp trả,
                    <span style="font-size: 1rem; font-weight:700">MORRI STORE sẽ hoàn lại tiền hàng</span>
                    (không bao gồm tiền phí vận chuyển nếu có) cho khách
                    <span style="font-size: 1rem; font-weight:700">trong vòng 24h qua tài khoản của khách.</span>
                    . Sau đó, MORRI STORE sẽ
                    <span style="font-size: 1rem; font-weight:700">đến tận nơi lấy hàng trả và không thu thêm bất cứ phí
                        gì</span>
                    (Khách hàng cũng có thể tự gởi lại hàng cho MORRI STORE)
                </p>
                <p style=" font-size: 1rem; text-align: justify"><span style="font-size: 1rem; font-weight:700">3 Bước
                        nhanh chóng để đổi trả: </span></p>
                <p style=" font-size: 1rem; text-align: justify">
                    <span style="font-size: 1rem; font-weight:700">Bước 1: </span>
                    Điền thông tin đổi hàng ở
                    <span style="font-size: 1rem; font-weight:700; color: #ffba00 ;cursor: pointer;">đây</span>
                    , và trả hàng ở
                    <span style="font-size: 1rem; font-weight:700; color: #ffba00 ;cursor: pointer;">đây</span>
                    , hoặc qua số hotline 0123456789.
                </p>
                <p style=" font-size: 1rem; text-align: justify">
                    <span style="font-size: 1rem; font-weight:700">Bước 1: </span>
                    Nhận cuộc gọi xác nhận từ Coolmate về sản phẩm và thời gian nhận hàng.
                </p>
                <p style=" font-size: 1rem; text-align: justify">
                    <span style="font-size: 1rem; font-weight:700">Bước 1: </span>
                    Ngay khi xác nhận chúng tôi sẽ gởi bạn đơn hàng mới (hoặc lấy đơn hàng về), bạn chỉ cần gởi hàng cần
                    đổi/trả cho shipper là được.
                </p>
                <p style=" font-size: 1rem; text-align: justify">
                    Xem thêm dịch vụ MORRI RETURN chỉ có tại MORRI STORE ở
                    <span style="font-size: 1rem; font-weight:700; color: #ffba00 ;cursor: pointer;">đây</span>
                </p>
                <p style=" font-size: 1rem; text-align: justify"><span style="font-size: 1rem; font-weight:700">Đối với
                        việc trả hàng:</span></p>
                <p style=" font-size: 1rem; text-align: justify">Chúng tôi sẽ hoàn lại số tiền hàng (sau khi đã trừ
                    25.000 VNĐ phí ship hàng) vào tài khoản mà bạn xác nhận tối đa trong 24h làm việc (không tính thứ 7
                    và Chủ Nhật).</p>
                <p style=" font-size: 1rem; text-align: justify"><span style="font-size: 1rem; font-weight:700">Lưu ý:
                    </span></p>
                <p style=" font-size: 1rem ; text-align: justify"> ⁃ MORRI STORE hỗ trợ đổi tối đa 3 lần/1 khách hàng.</p>
                <p style=" font-size: 1rem ; text-align: justify"> ⁃ MORRI STORE có quyền quyết định dừng việc hỗ trợ đổi
                    trả và trả lại tiền cho khách hàng nếu phát hiện khách hàng sử dụng chính sách để trục lợi (như việc
                    đổi quá nhiều lần).</p>
                <p style=" font-size: 1rem; text-align: justify"><span style="font-size: 1rem; font-weight:700">Chúng
                        tôi làm gì với hàng đổi trả:</span></p>
                <p style=" font-size: 1rem ; text-align: justify"> * Hư hỏng, lỗi sản phẩm: thu gom và gởi cho các chương
                    trình từ thiện </p>
                <p style=" font-size: 1rem ; text-align: justify"> * Bít tất, boxer: huỷ bỏ 100% </p>
            </div>
        </div>
    </div>
</div>