.account-info-container {
    padding: 30px 0 50px 0;
}

.admin-statistic-table-container {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 48px;
}

.statistic-table thead{
    position: sticky;
    top: 0;
}