header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: right;
}

.navbar-brand{
    color: black !important;
    font-size: 1.4rem !important;
    font-weight: bold   ;
}

.navbar-css{
    background-color: #ffba00 !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(0, 0, 0, .55) !important;
    font-size: 1rem !important;
    margin-left: 15px !important;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: black !important;
    font-weight: 600;
}

body{
    overflow-x: hidden;
}

.nav-item .cart {
    position: relative;
}

.nav-item .cart .quantity {
    position: absolute;
    background: #000000cc;
    color: #ffba00;
    font-size: .6rem;
    padding: 2px 5px 2px 5px;
    border-radius: 50%;
    top: 50%;
    font-weight: 700;
    right: -5%;
    border: 2px solid #ffba00;
}

.nav-link:hover {
    opacity: 0.6;
}

.modal-cart{
    z-index: 20;
    display: none;
    position:absolute;
    right: 0;
    width: 300%;
    max-height: 500px;
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
}

.nav-link:hover {
    opacity: 0.6;
}

.nav-item{
    position: relative;
}

.nav-item:hover .modal-cart {
    z-index: 20;
    display: block;
    opacity: 1;
    
}

#customize-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#customize-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #ffba00;
} 

#customize-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffba00;
    border-radius: 8px;
}
