*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* .container-fluid{
    padding: 0 10%;
} */
/*--------------------------*/

.blog-head img{
    height: 650px;
}
.carousel-control-prev{
    margin-top: 10px !important;
}
.carousel-control-next{
    margin-top: 10px !important;
}
/*-----------------------------*/
.card-body{
    width: 100%;
}
.card-body button{
    border: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

/*-------------------------------*/
.box
{
    text-align: center;
    padding: 2px;
    background-clip: border-box;
}
.box:hover{
    background-color: #eaab00;
    background-image: 
    url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  
    url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
    url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
    background-repeat: no-repeat;
    background-size: 0 2px, 0 100%, 0% 2px;
    background-position: top center, top center, bottom center;
    -webkit-animation: drawBorderFromCenter 1s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
      background-size: 100% 2px, 100% 98%, 0 2px;
    }
}
/*---------------------------------------------------*/
.btn-allCategory{
    border: solid 1px gray;
}
.btn-allCategory:hover{
    color: #ffba00;
    border: solid 1px #ffba00;
}
.btn-createBlog{
    border: solid 1px gray;
    text-decoration: none;
}
.btn-createBlog:hover{
    color: #ffba00;
    border: solid 1px #ffba00;
}
.btn-search{
    border: solid 1px gray;
}
.btn-search:hover{
    border: solid 1px #ffba00;
    color: #ffba00;
}
/*-------------------------------------*/
.content{
    width: 100%;
    
}
.content .card{
    border: 0;
    background-color: transparent;
}
.content .card:hover{
    opacity: 0.8;
}
.content .card img{
    border-top: solid 1px gray;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}
.content .card-body{
    width: 100%;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}
.content .card-title{
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
 }
.content .card-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content .card-body .btn-read{
    background-color: #ffba00;
    color: white;
}
.content .card-body .btn-read:hover{
    opacity: 0.8;
    color: black;
}