:root {
    --primary-color: #ffce4b;
}

h1 {
    color: cyan;
}

.container {
    width: 1200px;
}

.container .fast-navbar{
    position: fixed;
    left: 0;
    bottom: calc(50% - 80px);
    display: flex;
    flex-direction: column;
}

.container .fast-navbar .fast-navbar-item{
    padding: 4px 10px;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    
}

.fast-navbar .fast-navbar-item .fas {
    color: #9e9e9e
}

.add-product-button {
    text-decoration: none;
    border: 1px solid #333;
    padding: 4px;
    margin-top: 12px;
    display: inline-block;
}

.container .breadscrum .breadscrum-list {
    display: flex;
}

.container .breadscrum .breadscrum-list .breadscrum-item{
    list-style: none;
}



/* Ở đây là phần chứa các cái product */
.product-container {
    min-width: 400px;
    margin-top: 40px;
}

.product-image {
    /* border: 1px solid #333; */
    border-radius: 12px;
    vertical-align: middle;
    display: flex;
    justify-content: center;

}

.add-image-label:hover {
    cursor: pointer;
    opacity: 0.7;
}
.add-image-label{
    width: 100%;
    height: 100%
}

.product-current-img{
    width: 100%;
    height: 100%;   
    object-fit: cover;
}

.product-current-upload-img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

.product-image-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    max-height: 350px;
}

.product-info {
    /* justify-content: center;
    display: flex;
    flex-direction: column; */
}

.product-info .product-name {
    width: 100%;
    font-size: 32px;
}

.product-info .product-place {
    width: 100%;
}

.product-info .product-place-icon {
    color: '#ffce4b'
}


.product-info .product-rating {

}

.product-info .product-rating .product-rating-average{
    margin-right: 10px;
}


.product-info .product-rating-average .product-rating-icon {
    color: #ffce4b;
}


.product-info .product-rating .product-rating-number{
    margin-right: 10px;
}

.product-info .product-rating .product-sold{

}

.product-container .product-decription {
    padding: 20px;
}

.product-container .product-decription {
    padding: 20px;
}

.product-container .product-price-sale input{
    width: 50%
}

.product-container .product-price-sale {
    align-items: center;
}

.product-container .product-price-sale .product-old-price {
    text-decoration: line-through;
    font-size: 1rem;
    color: #929292;
    margin-right: 10px;
    line-height: 30px;
    margin-top: 1px;
}

.product-container .product-price-sale .product-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 30px;
}

/* Phần số lượng sản phẩm */
input[name="quantity"] {
    width: 120px;
    text-align: center;
}


.quantity-choose .quantity-chose-title{
    margin-right: 16px;
}

.quantity-choose {
    align-items: center;
}
 
.bt-add-to-cart {
    background: var(--primary-color);
    border: none;
    padding: 8px 16px;
    color: #FFF;
    margin-right: 10px;
    border-radius: 4px;
}

/* Phần picture modal */
.picture-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.picture-modal-dialog {
    background-color: rgba(61, 56, 56, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-content.picture-modal-container {
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
}

.modal-body .product-image .product-current-img{
    /* width: 60%; */
    height: 100%;   
    margin-left: auto;
    margin-right: auto;  
}

.modal-body .product-image.modal-image{
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
}

.modal-footer.image-modal-footer .btn-close-modal {
    margin-top: -4px;
}


/* Phần product detail */
.divider {
    border-top: 1px solid #ccc;
    width: 95%;
    margin-top: 16px;
}

.product-detail-container {
    
}

.product-detail-container .detail-title{
    text-transform: uppercase;
    padding: 28px;
    padding-left: 12px;
    padding-bottom: 4px;
    font-size: 18px;
}

.product-detail-container .content-container {
    display: flex;
    font-size: 16px;
}

.product-detail-container .content-container .title{
    width: 100px; 
    color: rgba(0,0,0,.6);
    margin-right: 2.5rem;
}

.blog-container .detail-title{
    text-transform: uppercase;
    padding: 28px;
    padding-left: 0px;
    padding-bottom: 4px;
    font-size: 18px;
}

/* Đây là các cái của phần rating */
.rating-container {

}

.rating-container .title {
    text-transform: uppercase;
    padding: 28px;
    padding-left: 0px;
    padding-bottom: 4px;
    font-size: 18px;
}

.rating-container .summary-review .rating-content-overview{
    display: flex;
}

.rating-container .summary-review .review-rating{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0px 16px 0px;
    margin-top: 4px;
}

.rating-container .summary-review .all-statistic {

}

.rating-container .summary-review .all-statistic .review-num{
    font-size: 14px;
}

.product-rating-icon {
    color: var(--primary-color);
}

.rating-container .summary-review .star-review-list {
    margin-left: 16px;
    margin-top: 4px;
}

.rating-container .summary-review .star-review-list .start-review-item {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.rating-container .summary-review .star-review-list .product-rating-icon{
    font-size: 10px;
    margin-right: 2px;
} 

.star-review-list .start-review-item {
    margin-top: -4px;
}


.star-review-list .start-review-item .review-star-num{
    margin-left: 4px;
}

.star-review-list .start-review-item .percent-bar {
    margin: 0 4px;
}

.summary-filter {

}

.summary-filter .filter-title{
    
}

.summary-filter .list-filter{
    display: flex;
    list-style: none;
    margin-top: 14px;
    margin-left: 0px;
    padding-left: 0px;
}

.summary-filter .list-filter .list-filter-item{
    border: 1px solid #999;
    padding: 0px 12px;
    margin-right: 8px;
    border-radius: 16px;
}

.summary-filter .list-filter .list-filter-item:hover{
    cursor: pointer;
    opacity: 0.7;
}

.summary-filter .list-filter .list-filter-item.active{
    background-color: #ddd;
}

.review-item-list {
    list-style: none;
}

.review-item-list .review-item {

}

.review-item-list .review-item .user-information{
    display: flex;
}

.review-item-list .review-item .user-information .avatar{
    width: 70px;
    height: 70px;
}

.review-item-list .review-item .user-information .name{
    margin-top: 21px;
}

.review-item .review-container {
    margin-top: 6px;
}

.review-item .review-container .review-time {
    font-size: 14px;
}


/* Product Manager Screen */
.product-manager-title {
    padding: 20px;
    padding-left: 0px;
    font-size: 28px;
}

.product-manager .product-manager-feature {
    padding-top: 20px;
}

.product-manager .product-row {
    text-align: center;
}

#product-manager-container {

}

#product-manager-container .product-item{

}

#product-manager-container .product-item:hover{
    background-color: #eee;
    cursor: pointer; 
}

#product-manager-container .product-item .stretched-link:hover{
    background-color: #eee;
    cursor: pointer;    
}

.add-product-button.product-screen {
    background: var(--primary-color);
    border: none;
    padding: 8px 16px;
    color: #FFF;
    margin-right: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.add-product-button.product-screen:hover {
    cursor: pointer;
    opacity: 0.7;
}


/* Reposive fix */
@media (max-width: 576px) {
    .product-image {
        width: 400px;
    }
}

/* Display product in product screen */
.product-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 1.6rem;
  }
  .card-product a {
    text-decoration: none;
    color: black;
  }
  
  .card-product{
    position: relative;
    overflow: hidden;
  }
  
  .overlay-product{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 30;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.4);
    transition: transform ease-in-out 0.15s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .card-product:hover .overlay-product{
    transform: translateX(0);
  }
  
  .hover-cart-to-product{
    color: rgba(255, 255, 255, 0.425);
  }
  
  .hover-cart-to-product:hover{
    color: white;
  }

  .cook__blog-card-img-product {
    overflow: hidden;
    height: 250px;
    width: 100%;
    transform: scale(1);
    transition: transform ease-in 0.2s;
    object-fit: cover;
}