<footer style="background-color: rgba(37, 41, 50, 1);border-top:5px solid #ffffff54;">
    <div style="padding-top: 50px; " class="container">
        <div class="row">
            <div class="col-3">
                <h5 style="color: #ffba00;margin-bottom: 20px">HƯỚNG DẪN MUA HÀNG</h5>
                <div style="display: flex;flex-direction: column;">
                    <a class="footer-the-a" href="#">Blog</a>
                    <a class="footer-the-a" href="#">Câu hỏi thường gặp</a>
                    <a class="footer-the-a" href="#">Phương thức thanh toán</a>
                    <a class="footer-the-a" href="#">Phương thức vận chuyển</a>
                    <a class="footer-the-a" href="#">Giỏ hàng của tôi</a>
                    <a class="footer-the-a" href="#">Giấy phép</a>
                </div>
            </div>
            <div class="col-3">
                <h5 style="color: #ffba00;margin-bottom: 20px">DÀNH CHO BẠN</h5>
                <div style="display: flex;flex-direction: column;">
                    <a class="footer-the-a" href="#">Tài khoản của bạn</a>
                    <a class="footer-the-a" href="#">Thông tin</a>
                    <a class="footer-the-a" href="#">Địa chỉ</a>
                    <a class="footer-the-a" href="#">Khuyến mãi</a>
                    <a class="footer-the-a" href="#">Lịch sử mua hàng</a>
                    <a class="footer-the-a" href="#">Theo dõi đơn hàng</a>
                </div>
            </div>
            <div class="col-3">
                <h5 style="color: #ffba00;margin-bottom: 20px">Thông tin</h5>
                <div style="display: flex;flex-direction: column;">
                    <a class="footer-the-a" href="#">Bản đồ trang</a>
                    <a class="footer-the-a" href="#">Từ khóa tìm kiếm</a>
                    <a class="footer-the-a" href="#">Tìm kiểm nâng cao</a>
                    <a class="footer-the-a" href="#">Về chúng tôi</a>
                    <a class="footer-the-a" href="#">Liên hệ với chúng tôi</a>
                    <a class="footer-the-a" href="/cart/return-policy">Chính sách đổi trả</a>
                </div>
            </div>
            <div class="col-3">
                <h5 style="color: #ffba00;margin-bottom: 20px">Liên hệ chúng tôi</h5>
                <div style="display: flex;flex-direction: column; ">
                    <div style="display: flex;margin-bottom: 20px;align-items: center;">
                        <div class="customize-lien-he-chung-toi">
                            <i style="color: #ffba00; font-size:1.2rem" class="fas fa-map-marker-alt"></i>
                        </div>
                        <p style="color:#b7bcc8; padding: 0;margin:0">University of Information Technology</p>
                    </div>
                    <div style="display: flex;margin-bottom: 20px;  align-items: center;">
                        <div class="customize-lien-he-chung-toi">
                            <i style="color: #ffba00; font-size:1.2rem" class="fas fa-phone"></i>
                        </div>
                        <p style="color:#b7bcc8; padding: 0;margin:0">+123456789</p>
                    </div>
                    <div style="display: flex;margin-bottom: 20px; align-items: center;">
                        <div class="customize-lien-he-chung-toi">
                            <i style="color: #ffba00; font-size:1.2rem" class="fas fa-envelope"></i>
                        </div>
                        <p style="color:#b7bcc8; padding: 0;margin:0">moriistore010@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="color:#b7bcc8; border-top:1px solid #ffffff54; padding-top: 40px; margin-top: 20px; padding-bottom: 50px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__social">
                        <div class="footer__social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="footer__social-icon">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="footer__social-icon">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="footer__social-icon">
                            <i class="fab fa-youtube"></i>
                        </div>
                        <div class="footer__social-icon">
                            <i class="fab fa-apple"></i>
                        </div>
                        <div class="footer__social-icon">
                            <i class="fab fa-spotify"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="footer__titele">© 2021 MORRI | ALL RIGHTS RESERVED.</div>
                </div>
                <div class="col-12">
                    <div class="footer__aside-info">
                        <span class="footer__aside-info-item">Contact us</span>
                        <span class="footer__aside-info-item">19522092</span>
                        <span class="footer__aside-info-item">19522052</span>
                        <span class="footer__aside-info-item">19522006</span>
                        <span class="footer__aside-info-item">19522055</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>