<link rel="stylesheet" href="/css/responsive.css">

{{!-- Alert --}}
<div style="cursor: pointer;" id="display-alert-css" class="alert" role="alert">
    A simple secondary alert—check it out!
</div>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-css">
        <div class="container">
            <a class="navbar-brand" href="/home">MORRI STORE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link {{#if active.Home}}active{{/if}} home" href="/home">
                            <i class="fas fa-home"></i>
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if active.Product}}active{{/if}} product" href="/product">
                            <i class="fas fa-candy-cane"></i>
                            Sản phẩm
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if active.Blog}}active{{/if}}" href="/home3">
                            <i class="fab fa-blogger"></i>
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if active.Cart}}active{{/if}} cart" href="/cart">
                            <i class="fas fa-shopping-cart"></i>
                            Giỏ hàng
                            <div class="quantity">0</div>
                        </a>
                        <div class="modal-cart">
                            <div class="row">
                                <div style=" display: flex; height: 30px; justify-content: space-between; padding-top: 10px; margin-bottom: 25px"
                                    class="col-10 offset-1">
                                    <p>
                                        <span class="quantity-product" style="font-weight: 700;">0</span>
                                        Sản Phẩm
                                    </p>
                                    <p style="color: #ffba00;cursor: pointer; font-weight:700"
                                        onclick="ProductScreenClick()">Xem tất cả</p>
                                </div>
                                {{!-- Sản phẩm --}}
                                <div id="customize-scrollbar" class="render-list-product"
                                    style="overflow-y: scroll; max-height: 440px; width:365px">
                                    {{!-- Render sản phẩm --}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if active.Notification}}active{{/if}}" href="#">
                            <i class="fas fa-bell"></i>
                            Thông báo
                        </a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="/signin">
                            <i class="fas fa-user"></i>
                            Đăng nhập
                        </a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link {{#if active.SignUp}}active{{/if}}" href="/signup">
                            <i class="fas fa-user"></i>
                            Đăng ký
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{#if active}}
    <div style="display: 'none" class="active">
        {{active.type}}
    </div>
    {{/if}}
</header>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    var cartUser

    const active = document.querySelector('.active').outerText;
    document.querySelector('.active').style.display = 'none'
    document.querySelector(`.${active}`).classList.add('active')
    var AlertMorriStore = document.getElementById('display-alert-css');
    const elementProductLink = document.querySelector('.cart');
    const elementRenderProductCart = document.querySelector('.render-list-product');
    const elementQuantityProductTotal = document.querySelector('.quantity-product');
    const listCart = JSON.parse(localStorage.getItem('listCart'));
    const elementQuantityProduct = document.querySelector('.quantity');


   

    //Render số lượng
    renderQuantity = () => {
        elementQuantityProduct.innerText = cartUser.length;
    }

    //Render tổng số lượng
    renderQuantityTotal = () => {
        let index = 0
        cartUser.map(value => {
            index += value.quantity
        })
        elementQuantityProductTotal.innerText = index
    }
    // Xem tất cả 
    ProductScreenClick = () => {
        elementProductLink.click();
    }


    // Render Sản phẩm
    renderProduct = () => {
        let htmlList = cartUser.map(value => (
            `
                                    <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;" class="col-10 offset-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="${value.product.imgUrl}"
                                                    class="img-thumbnail" alt="...">
                                            </div>
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">${value.product.name}</a>
                                                <div style="color: #ffba00;font-weight:700">
                                                    ${value.product.sellPrice.toLocaleString()}đ
                                                    <span
                                                        style="text-decoration: line-through; color:darkgrey; font-weight:400; margin-left: 10px">${value.product.currentPrice.toLocaleString()}đ</span>
                                                </div>
                                                <p style="font-size: .8rem; margin-bottom: 0">Địa danh: Hà Tiên</p>
                                                <h6>SL: ${value.quantity}</h6>
                                            </div>
                                        </div>
                                    </div>
            `
        ))
        if (cartUser.length == 0) {
            elementRenderProductCart.innerHTML = `
            <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;" class="col-10 offset-1">
                <div style="text-align: center; padding-bottom: 30px;" class="row">
                    <h4>Giỏ hàng trống</h4>
                </div>
            </div>
            `
        } else {
            elementRenderProductCart.innerHTML = htmlList.join('');
        }
    }


    //ALERT MORRI STORE
    AlertMorriStore.onclick = () => {
        AlertMorriStore.style.display = 'none'
    }

    const showAlertMorriStore = (typeAlert, message) => {
        AlertMorriStore.style.display = 'block'
        AlertMorriStore.classList = `alert ${typeAlert}`
        AlertMorriStore.innerText = message
        setTimeout(() => { AlertMorriStore.style.display = 'none' }, 2000)
    }


    // SET COOKIE 
    function setCookie(cname, cvalue, exdays) {
        console.log('thành công')
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return '';
    }

    function checkCookie() {
        let user = getCookie("username");
        if (user != "") {
            alert("Welcome again " + user);
        } else {
            user = prompt("Please enter your name:", "");
            if (user != "" && user != null) {
                setCookie("username", user, 365);
            }
        }
    }
</script>