<link rel="stylesheet" href="/css/responsive.css">

{{!-- Alert --}}
<div style="cursor: pointer;" id="display-alert-css" class="alert" role="alert">
    A simple secondary alert—check it out!
</div>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-css">
        <div class="container">
            <a class="navbar-brand" href="/home">MORRI STORE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link home" href="/home">
                            <i class="fas fa-home"></i>
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link product" href="/product">
                            <i class="fas fa-candy-cane"></i>
                            Sản phẩm
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home2">
                            <i class="fab fa-blogger"></i>
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cart" href="/cart">
                            <i class="fas fa-shopping-cart"></i>
                            Giỏ hàng
                            <div class="quantity">4</div>
                        </a>
                        <div class="modal-cart">
                            <div class="row">
                                <div style=" display: flex; height: 30px; justify-content: space-between; padding-top: 10px; margin-bottom: 25px"
                                    class="col-10 offset-1">
                                    <p>
                                        <span style="font-weight: 700;">5</span>
                                        Sản Phẩm
                                    </p>
                                    <p style="color: #ffba00;cursor: pointer; font-weight:700"
                                        onclick="ProductScreenClick()">Xem tất cả</p>
                                </div>
                                {{!-- Sản phẩm --}}
                                <div id="customize-scrollbar" class="render-list-product"
                                    style="overflow-y: scroll; max-height: 440px; width:365px">
                                    <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;"
                                        class="col-10 offset-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg"
                                                    class="img-thumbnail" alt="...">
                                            </div>
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">Iphone 13 pro max - 1TB - 8GB Ram</a>
                                                <div style="color: #ffba00;font-weight:700">
                                                    269.000đ
                                                    <span
                                                        style="text-decoration: line-through; color:darkgrey; font-weight:400; margin-left: 10px">299.000đ</span>
                                                </div>
                                                <p style="font-size: .8rem; margin-bottom: 0">Địa danh: Hà Tiên</p>
                                                <h6>SL: 3</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;"
                                        class="col-10 offset-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg"
                                                    class="img-thumbnail" alt="...">
                                            </div>
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">Iphone 13 pro max - 1TB - 8GB Ram</a>
                                                <div style="color: #ffba00;font-weight:700">
                                                    269.000đ
                                                    <span
                                                        style="text-decoration: line-through; color:darkgrey; font-weight:400; margin-left: 10px">299.000đ</span>
                                                </div>
                                                <p style="font-size: .8rem; margin-bottom: 0">Địa danh: Hà Tiên</p>
                                                <h6>SL: 3</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;"
                                        class="col-10 offset-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg"
                                                    class="img-thumbnail" alt="...">
                                            </div>
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">Iphone 13 pro max - 1TB - 8GB Ram</a>
                                                <div style="color: #ffba00;font-weight:700">
                                                    269.000đ
                                                    <span
                                                        style="text-decoration: line-through; color:darkgrey; font-weight:400; margin-left: 10px">299.000đ</span>
                                                </div>
                                                <p style="font-size: .8rem; margin-bottom: 0">Địa danh: Hà Tiên</p>
                                                <h6>SL: 3</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;"
                                        class="col-10 offset-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg"
                                                    class="img-thumbnail" alt="...">
                                            </div>
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">Iphone 13 pro max - 1TB - 8GB Ram</a>
                                                <div style="color: #ffba00;font-weight:700">
                                                    269.000đ
                                                    <span
                                                        style="text-decoration: line-through; color:darkgrey; font-weight:400; margin-left: 10px">299.000đ</span>
                                                </div>
                                                <p style="font-size: .8rem; margin-bottom: 0">Địa danh: Hà Tiên</p>
                                                <h6>SL: 3</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-bell"></i>
                            Thông báo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <i class="fas fa-user"></i>
                            Đăng nhập
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{#if active}}
    <div style="display: 'none" class="active">
        {{active.type}}
    </div>
    {{/if}}
</header>
<script type="text/javascript">
    const active = document.querySelector('.active').outerText;
    document.querySelector('.active').style.display = 'none'
    document.querySelector(`.${active}`).classList.add('active')
    var AlertMorriStore = document.getElementById('display-alert-css');
    const elementProductLink = document.querySelector('.cart');
    const elementRenderProductCart = document.querySelector('.render-list-product');
    const listCart = JSON.parse(localStorage.getItem('listCart'));
    const elementQuantityProduct = document.querySelector('.quantity');

    const a = 300000000;
    const b = 300000000;
    console.log(a.toLocaleString())

    //Render số lượng
    renderQuantity = () => {
        elementQuantityProduct.innerText = listCart.length;
    }

    renderQuantity();

    // Xem tất cả 
    ProductScreenClick = () => {
        elementProductLink.click();
    }


    // Render Sản phẩm
    renderProduct = () => {
        let htmlList = listCart.map(value => (
            `
                                    <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;" class="col-10 offset-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="${value.imgUrl}"
                                                    class="img-thumbnail" alt="...">
                                            </div>
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">${value.name}</a>
                                                <div style="color: #ffba00;font-weight:700">
                                                    ${value.priceSell.toLocaleString()}đ
                                                    <span
                                                        style="text-decoration: line-through; color:darkgrey; font-weight:400; margin-left: 10px">${value.price.toLocaleString()}đ</span>
                                                </div>
                                                <p style="font-size: .8rem; margin-bottom: 0">Địa danh: Hà Tiên</p>
                                                <h6>SL: ${value.quantity}</h6>
                                            </div>
                                        </div>
                                    </div>
            `
        ))
        elementRenderProductCart.innerHTML = htmlList.join('');
    }
    renderProduct();

    loadDoc = async () => {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            console.log(JSON.parse(this.responseText));
        }
        var data = {
            name: 'lg',
            pass: 'ge',
        }
        await xhttp.open('GET', 'https://provinces.open-api.vn/api/?depth=3');
        await xhttp.send(data);

        //xhttp.open("POST", "ajax_test.asp");
        //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //xhttp.send("name=phuoc&hello=e");
    }
    loadDoc();


    //ALERT MORRI STORE
    AlertMorriStore.onclick = () => {
        AlertMorriStore.style.display = 'none'
    }

    const showAlertMorriStore = (typeAlert, message) => {
        AlertMorriStore.style.display = 'block'
        AlertMorriStore.classList = `alert ${typeAlert}`
        AlertMorriStore.innerText = message
        setTimeout(() => { AlertMorriStore.style.display = 'none'}, 2000)
    }


    // SET COOKIE 
    function setCookie(cname, cvalue, exdays) {
        console.log('thành công')
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return '';
    }

    function checkCookie() {
        let user = getCookie("username");
        if (user != "") {
            alert("Welcome again " + user);
        } else {
            user = prompt("Please enter your name:", "");
            if (user != "" && user != null) {
                setCookie("username", user, 365);
            }
        }
    }
</script>