<title>Cart</title>
<link rel="stylesheet" href="/css/cart.css">
<div>
    <div class="row">
        <div class="col-7 info-to-delivery">
            <div>
                <h3>Thông tin nhận hàng</h3>
                <form action="">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="name" class="form-control" id="floatingInput">
                                <label for="floatingInput">Họ tên</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3 ">
                                <input type="number" name="phone" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Số điện thoại</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" value="lngthinphc@gmail.com" name="email" class="form-control"
                                    id="floatingInput" placeholder="name@example.com" disabled>
                                <label for="floatingInput">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3 ">
                                <input type="text" name="address" class="form-control" id="floatingInput"
                                    placeholder="">
                                <label for="floatingInput">Địa chỉ</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <select name="province" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option selected>Chọn tỉnh / thành phố</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select name="district" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option selected>Chọn quận / huyện</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3 ">
                                <input type="text" name="note" class="form-control" id="floatingInput"
                                    placeholder="ádasd">
                                <label for="floatingInput">Ghi chú thêm</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3>Chọn hình thức thanh toán</h3>
                    </div>
                    <div class="col-12">
                        <div class="form-check customize-radio">
                            <input class="form-check-input input-radio-customize" value="paymentCod" type="radio"
                                name="payment-method" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <div class="title-radio">
                                    <i class="radio-icon fas fa-plane"></i>
                                    <div class="description-radio">
                                        <h6>Thanh toán khi nhận hàng (COD)</h6>
                                        <p>Miễn phí vận chuyển với đơn hàng trên 300k</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check customize-radio">
                            <input class="form-check-input input-radio-customize" value="paymentMomo" type="radio"
                                name="payment-method" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                <div class="title-radio">
                                    <i class="radio-icon fas fa-id-card"></i>
                                    <div class="description-radio">
                                        <h6>Thành toán qua momo</h6>
                                        <p>Miễn phí và tiện lợi</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div style="margin-top: 20px; color: #a77c07" class="col-12">
                        Nếu bạn không hài lòng với sản phẩm của chúng tôi? Bạn hoàn toàn có thể trả lại sản phẩm. Tìm
                        hiểu thêm
                        <a href="/cart/return-policy"
                            style="font-weight: 700; color: #ffba00; text-decoration: none;">tại đây</a>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-payment">
                            <h5>Đặt hàng</h5>
                            <h6>Ship tới không mua không sao</h6>
                            <h6>Mua rồi vẫn đổi trả miễn phí</h1>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-5 list-product-to-delivery">

            <div class="row">
                <div class="col-12">
                    <div style="background-color: white; margin-bottom: 50px;margin-top: 100px;"
                        class="col-10 offset-1">
                        <div style="padding-bottom: 30px;" class="row">
                            <div style="margin-top: 50px; margin-bottom: 50px" class="col-10 offset-1">
                                <h3 style="text-align: center; color: #ffba00;">Giỏ hàng của bạn</h3>
                            </div>
                            <div class="col-10 offset-1 render-list-product-cart">
                                <div style="margin-bottom: 30px" class="row">
                                    <div class="col-4">
                                        <img src="https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg"
                                            class="img-thumbnail" alt="...">
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">Iphone 13 pro max - 1TB - 8GB Ram</a>
                                                <p style="font-size: .8rem;">Địa danh: Hà Tiên</p>
                                                <div class="customize-raise-reduce" style="">
                                                    <span onclick="reduceQuantity('luong_thien_phuoc')">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                    <input style="" value="1" type="number">
                                                    <span onclick="raiseQuantity('luong_thien_phuoc')">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4 customize-price-product">
                                                <div>
                                                    <button type="button" class="btn-close" aria-label="Close"></button>
                                                </div>
                                                <div>
                                                    <div>269.000đ</div>
                                                    <div style="text-decoration: line-through">299.000đ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: white; margin-bottom: 30px" class="col-10 offset-1">
                        <div class="row">
                            <div style="margin-top: 40px" class="col-10 offset-1">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="discount" placeholder="MÃ GIẢM GIÁ"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary btn-apply-code-discount" type="button"
                                        id="button-addon2">Áp
                                        Dụng</button>
                                </div>
                            </div>
                            <div style="margin-top: 40px; margin-bottom: 40px;background-color: #f2f1f1"
                                class="col-10 offset-1">
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Tạm tính</h6>
                                        <h6 class="tam-tinh">1.760.999đ</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style=" display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Mã giảm giá</h6>
                                        <h6 class="ma-giam-gia" style="color: #ffba00; font-weight: 700;">0đ</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Giá gốc</h6>
                                        <h6 class="gia-goc"
                                            style="color: #ffba00; font-weight: 700;text-decoration: line-through">
                                            1.760.999đ</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Phí giao hàng</h6>
                                        <h6 class="tien-ship" style="color: #ffba00; font-weight: 700; ">Miễn phí</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="border-top: 1px solid black" class="col">

                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 700;">TỔNG CỘNG</h6>
                                        <h6 class="total-money" style="color: #ffba00; font-weight: 700; ">3.000.000đ
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var listProvince;
    const elementRenderListProduct = document.querySelector('.render-list-product-cart');
    const tamTinh = document.querySelector('.tam-tinh');
    const maGiamGia = document.querySelector('.ma-giam-gia');
    const giaGoc = document.querySelector('.gia-goc');
    const ship = document.querySelector('.tien-ship')
    const totalMoney = document.querySelector('.total-money');

    let elementName = document.querySelector('input[name="name"]')
    let elementPhone = document.querySelector('input[name="phone"]')
    let elementEmail = document.querySelector('input[name="email"]')
    let elementAddress = document.querySelector('input[name="address"]')
    let elementNote = document.querySelector('input[name="note"]')
    let elementProvince = document.querySelector('select[name="province"]');
    let elementDistrict = document.querySelector('select[name="district"]');

    let elementDiscount = document.querySelector('input[name="discount"]');

    const xhttp = new XMLHttpRequest();
    let btnPayment = document.querySelector('.btn-payment')
    let btnApplyCodeDiscount = document.querySelector('.btn-apply-code-discount');



    fetch('https://provinces.open-api.vn/api/?depth=2')
        .then(response => response.json())
        .then(data => {
            listProvince = data;
            console.log(listProvince);
            const html1 = listProvince.map(value => (
                `<option value=${value.name}>${value.name}</option>`
            ))
            const html2 = listProvince[0].districts.map(value => (
                `<option value=${value.name}>${value.name}</option>`
            ))
            elementProvince.innerHTML = html1.join('');
            elementDistrict.innerHTML = html2.join('');
            return data;
        })
        .catch(err => console.log("Lỗi"));

    elementProvince.onclick = (e) => {
        renderDistricts(e.target.value);
    }

    renderDistricts = (codename) => {
        listProvince.map(value => {
            if (value.codename === codename) {
                console.log(value);
                const html = value.districts.map(value => (
                    `<option value=${value.codename}>${value.name}</option>`
                ))
                elementDistrict.innerHTML = html.join('');
            }
        })
    }



    renderListCart = () => {
        let html = cartUser.map(value => (
            `
            <div style="margin-bottom: 30px" class="row">
                                    <div class="col-4">
                                        <img src="${value.product.imgUrl}"
                                            class="img-thumbnail" alt="...">
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">${value.product.name}</a>
                                                <p style="font-size: .8rem;">Địa danh: ${value.product.diaDanh}</p>
                                                <div class="customize-raise-reduce" style="">
                                                    <span onclick="reduceQuantity('${value.product.slug}')">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                    <input name="${value.product.slug}" value='${value.quantity}' type="number">
                                                    <span onclick="raiseQuantity('${value.product.slug}')">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4 customize-price-product">
                                                <div>
                                                    <button type="button" onclick="DeleteProduct('${value.product.slug}')" class="btn-close" aria-label="Close"></button>
                                                </div>
                                                <div>
                                                    <div style="font-weight: 700">${value.product.priceSell.toLocaleString()}đ</div>
                                                    <div style="text-decoration: line-through">${value.product.price.toLocaleString()}đ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            `
        ))
        elementRenderListProduct.innerHTML = html.join('');
    }

    reduceQuantity = (slug) => {
        const element = document.querySelector(`input[name="${slug}"]`);
        cartUser.map(value => {
            if (value.product.slug === slug) {
                if (value.quantity > 1) {
                    value.quantity -= 1;
                }
            }
        })
        renderProduct()
        renderQuantity()
        renderQuantityTotal()
        renderListCart()
        renderTotalMoney()
    }

    raiseQuantity = (slug) => {
        const element = document.querySelector(`input[name="${slug}"]`);
        cartUser.map(value => {
            if (value.product.slug === slug) {
                value.quantity += 1;
            }
        })
        renderProduct()
        renderQuantity()
        renderQuantityTotal()
        renderListCart()
        renderTotalMoney()
    }

    DeleteProduct = (slug) => {
        console.log(slug);
        cartUser = cartUser.filter(value => {
            return value.product.slug !== slug
        })
        renderProduct()
        renderQuantity()
        renderQuantityTotal()
        renderListCart()
        renderTotalMoney()
    }

    //Render total money

    renderTotalMoney = (percent) => {
        let giaTienTamTinh = 0;
        let giaTienGiamGia = 0;
        let giaGocBanDau = 0;
        let tongTien = 0;
        let tienShip = 0;
        cartUser.forEach(value => {
            giaTienTamTinh += value.product.priceSell * value.quantity;
            giaGocBanDau += value.product.price * value.quantity;
        })

        if (percent) {
            giaTienGiamGia = giaTienTamTinh * percent / 100
        }

        if (giaTienTamTinh < 300000) {
            tienShip = 30000
        }

        tongTien = giaTienTamTinh - giaTienGiamGia + tienShip;


        tienShip == 0 ? ship.innerText = "Miễn phí" : ship.innerText = tienShip.toLocaleString() + 'đ'
        tamTinh.innerText = giaTienTamTinh.toLocaleString() + 'đ'
        maGiamGia.innerText = giaTienGiamGia.toLocaleString() + 'đ'
        giaGoc.innerText = giaGocBanDau.toLocaleString() + 'đ'
        totalMoney.innerText = tongTien.toLocaleString() + 'đ'
    }


    //Handle 
    btnPayment.onclick = async (e) => {
        /*const username = 'lngthinphc@gmail.com';
        const listCartabc = [
            {
                product: {
                    slug: "iphone-13",
                    name: "Iphone 13 pro max - 1TB - 8GB Ram",
                    diaDanh: "Hà Tiên",
                    priceSell: 15000000,
                    imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1634361661/xdirpgvyysvctqpu2thn.jpg',
                    price: 16500000,
                    quantity: 1,
                },
                quantity: 1
            },
            {
                product: {
                    slug: "truyen-tranh",
                    name: "Thánh gióng Việt Nam",
                    diaDanh: "Nha Trang",
                    priceSell: 550000,
                    imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg',
                    price: 700000,
                    quantity: 1,
                },
                quantity: 2,
            },
            {
                product: {
                    slug: "qua-luu-niem-qua-cau-tuyet",
                    name: "Quà lưu niệm quả cầu tuyết Doremon",
                    diaDanh: "Sapa",
                    priceSell: 350000,
                    imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg',
                    price: 500000,
                    quantity: 1,
                },
                quantity: 2
            },
            {
                product: {
                    slug: "luong-thien-phuoc",
                    name: "Lương Thiện Phước đẹp trai",
                    diaDanh: "Cái Dầu",
                    priceSell: 999999999,
                    imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg',
                    price: 999999999,
                    quantity: 2,
                },
                quantity: 1
            },
        ]*/

        /*try {
            const res = await fetch('/cart/add-product-to-cart', {
                method: 'POST',
                body: JSON.stringify({ username, listCartabc }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = res.json();
            console.log(data)
        } catch {

        }*/

        /*let elementPaymentMethod = document.querySelector('input[name="payment-method"]:checked')
        console.log(elementPaymentMethod);
        let aElement = document.createElement('a');
        aElement.setAttribute('href', "/login");
        if (elementEmail.value == "") {
            aElement.click();
            showAlertMorriStore('alert-warning', 'Bạn cần đăng nhập !')
        } else if (elementName.value.length == 0 || elementPhone.value.length == 0 || elementAddress.value.length == 0 || elementNote.value.length == 0) {
            showAlertMorriStore('alert-warning', 'Nhập đầy đủ thông tin !')
        } else {
            if (elementPaymentMethod) {
                console.log(elementName.value)
                console.log(elementPhone.value)
                console.log(elementEmail.value)
                console.log(elementAddress.value)
                console.log(elementNote.value)
                console.log(elementProvince.value)
                console.log(elementDistrict.value)
                console.log(elementPaymentMethod.value)
                showAlertMorriStore('alert-success', 'Mua hàng thành công !')
            } else {
                showAlertMorriStore('alert-warning', 'Chọn phương thức thanh toán !')
            }
        }*/
    }


    btnApplyCodeDiscount.onclick = async () => {
        try {
            await axios.post(`http://localhost:3000/cart/get-coupon`, {
                couponCode: elementDiscount.value,
            })
                .then(res => {
                    let nowTime = Date.now()
                    let time = new Date(res.data.Coupon.exp)
                    if (time - nowTime >= 0) {
                        if (!res.data.Coupon.isUsed) {
                            renderTotalMoney(res.data.Coupon.value)
                            showAlertMorriStore('alert-success', 'Sử dụng code thành công!')
                        } else {
                            showAlertMorriStore('alert-warning', 'Code dã được sử dụng !')
                        }
                    } else {
                        showAlertMorriStore('alert-warning', 'Code đã hết hạn !')
                    }
                })
                .catch(err => {
                    if (err.response.data.message) {
                        console.log(err.response.data.message)
                        showAlertMorriStore('alert-warning', err.response.data.message)
                    }
                })
        } catch (e) {
            alert(e);
        }
    }
</script>