<title>Cart</title>
<link rel="stylesheet" href="/css/cart.css">
<div>
    <div class="row">
        <div class="col-7 info-to-delivery">
            <div>
                <h3>Thông tin nhận hàng</h3>
                <form action="">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="email " class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Họ tên</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3 ">
                                <input type="number" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Số điện thoại</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" value="lngthinphc@gmail.com" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" disabled>
                                <label for="floatingInput">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3 ">
                                <input type="email" class="form-control" id="floatingInput" placeholder="">
                                <label for="floatingInput">Địa chỉ</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <select name="province" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option selected>Chọn tỉnh / thành phố</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select name="district" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option selected>Chọn quận / huyện</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3 ">
                                <input type="email" class="form-control" id="floatingInput" placeholder="ádasd">
                                <label for="floatingInput">Ghi chú thêm</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3>Chọn hình thức thanh toán</h3>
                    </div>
                    <div class="col-12">
                        <div class="form-check customize-radio">
                            <input class="form-check-input input-radio-customize" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <div class="title-radio">
                                    <i class="radio-icon fas fa-plane"></i>
                                    <div class="description-radio">
                                        <h6>Thanh toán khi nhận hàng (COD)</h6>
                                        <p>Miễn phí vận chuyển với đơn hàng trên 300k</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check customize-radio">
                            <input class="form-check-input input-radio-customize" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                <div class="title-radio">
                                    <i class="radio-icon fas fa-id-card"></i>
                                    <div class="description-radio">
                                        <h6>Thành toán qua momo</h6>
                                        <p>Miễn phí và tiện lợi</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div style="margin-top: 20px; color: #a77c07" class="col-12">
                        Nếu bạn không hài lòng với sản phẩm của chúng tôi? Bạn hoàn toàn có thể trả lại sản phẩm. Tìm
                        hiểu thêm
                        <a href="/cart/return-policy" style="font-weight: 700; color: #ffba00; text-decoration: none;">tại đây</a>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-payment">
                            <h5>Đặt hàng</h5>
                            <h6>Ship tới không mua không sao</h6>
                            <h6>Mua rồi vẫn đổi trả miễn phí</h1>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-5 list-product-to-delivery">

            <div class="row">
                <div class="col-12">
                    <div style="background-color: white; margin-bottom: 50px;margin-top: 100px;"
                        class="col-10 offset-1">
                        <div style="padding-bottom: 30px;" class="row">
                            <div style="margin-top: 50px; margin-bottom: 50px" class="col-10 offset-1">
                                <h3 style="text-align: center; color: #ffba00;">Giỏ hàng của bạn</h3>
                            </div>
                            <div class="col-10 offset-1 render-list-product-cart">
                                <div style="margin-bottom: 30px" class="row">
                                    <div class="col-4">
                                        <img src="https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg"
                                            class="img-thumbnail" alt="...">
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">Iphone 13 pro max - 1TB - 8GB Ram</a>
                                                <p style="font-size: .8rem;">Địa danh: Hà Tiên</p>
                                                <div class="customize-raise-reduce" style="">
                                                    <span onclick="reduceQuantity('luong_thien_phuoc')">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                    <input style="" value="1" type="number">
                                                    <span onclick="raiseQuantity('luong_thien_phuoc')">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4 customize-price-product">
                                                <div>
                                                    <button type="button" class="btn-close" aria-label="Close"></button>
                                                </div>
                                                <div>
                                                    <div>269.000đ</div>
                                                    <div style="text-decoration: line-through">299.000đ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: white; margin-bottom: 30px" class="col-10 offset-1">
                        <div class="row">
                            <div style="margin-top: 40px" class="col-10 offset-1">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="MÃ GIẢM GIÁ"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary btn-apply-code-discount" type="button" id="button-addon2">Áp
                                        Dụng</button>
                                </div>
                            </div>
                            <div style="margin-top: 40px; margin-bottom: 40px;background-color: #f2f1f1"
                                class="col-10 offset-1">
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Tạm tính</h6>
                                        <h6 class="tam-tinh">1.760.999đ</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style=" display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Mã giảm giá</h6>
                                        <h6 class="ma-giam-gia" style="color: #ffba00; font-weight: 700;">0đ</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Giá gốc</h6>
                                        <h6 class="gia-goc"
                                            style="color: #ffba00; font-weight: 700;text-decoration: line-through">
                                            1.760.999đ</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 400;">Phí giao hàng</h6>
                                        <h6 style="color: #ffba00; font-weight: 700; ">Miễn phí</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="border-top: 1px solid black" class="col">

                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: flex; justify-content: space-between; margin:15px; margin-bottom: 5px"
                                        class="col">
                                        <h6 style="font-weight: 700;">TỔNG CỘNG</h6>
                                        <h6 class="total-money" style="color: #ffba00; font-weight: 700; ">3.000.000đ
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var listProvince;
    const elementProvince = document.querySelector('select[name="province"]');
    const elementDistrict = document.querySelector('select[name="district"]');
    const elementRenderListProduct = document.querySelector('.render-list-product-cart');
    var listCartProductScreen = JSON.parse(localStorage.getItem('listCart'))
    const tamTinh = document.querySelector('.tam-tinh');
    const maGiamGia = document.querySelector('.ma-giam-gia');
    const giaGoc = document.querySelector('.gia-goc');
    const totalMoney = document.querySelector('.total-money');
    const xhttp = new XMLHttpRequest();
    let btnPayment = document.querySelector('.btn-payment')
    let btnApplyCodeDiscount = document.querySelector('.btn-apply-code-discount');
    quantityProduct = async (slug) => {
        const data = {
            name: 'eee',
            aa: '123',
        }
        xhttp.open("POST", "/cart/raise-quantity");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(`slug=${slug}`);
    }


    fetch('https://provinces.open-api.vn/api/?depth=2')
        .then(response => response.json())
        .then(data => {
            listProvince = data;
            console.log(listProvince);
            const html1 = listProvince.map(value => (
                `<option value=${value.codename}>${value.name}</option>`
            ))
            const html2 = listProvince[0].districts.map(value => (
                `<option value=${value.codename}>${value.name}</option>`
            ))
            elementProvince.innerHTML = html1.join('');
            elementDistrict.innerHTML = html2.join('');
            return data;
        })
        .catch(err => console.log("Lỗi"));

    elementProvince.onclick = (e) => {
        renderDistricts(e.target.value);
    }

    renderDistricts = (codename) => {
        listProvince.map(value => {
            if (value.codename === codename) {
                console.log(value);
                const html = value.districts.map(value => (
                    `<option value=${value.codename}>${value.name}</option>`
                ))
                elementDistrict.innerHTML = html.join('');
            }
        })
    }

    /*var listCartabc = [
         {
             slug: "iphone-13",
             name: "Iphone 13 pro max - 1TB - 8GB Ram",
             diaDanh: "Hà Tiên",
             priceSell: 15000000,
             imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1634361661/xdirpgvyysvctqpu2thn.jpg',
             price: 16500000,
             quantity: 1,
         },
         {
             slug: "truyen-tranh",
             name: "Thánh gióng Việt Nam",
             diaDanh: "Nha Trang",
             priceSell: 550000,
             imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg',
             price: 700000,
             quantity: 1,
         },
         {
             slug: "qua-luu-niem-qua-cau-tuyet",
             name: "Quà lưu niệm quả cầu tuyết Doremon",
             diaDanh: "Sapa",
             priceSell: 350000,
             imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg',
             price: 500000,
             quantity: 1,
         },
         {
             slug: "luong-thien-phuoc",
             name: "Lương Thiện Phước đẹp trai",
             diaDanh: "Cái Dầu",
             priceSell: 999999999,
             imgUrl: 'https://res.cloudinary.com/databaseimg/image/upload/v1635354535/yiynknhhmgjdfdd28ehl.jpg',
             price: 999999999,
             quantity: 2,
         },
     ]
 
 
     localStorage.setItem('listCart', JSON.stringify(listCartabc));
     */
    renderListCart = () => {
        var html = listCartProductScreen.map(value => (
            `
            <div style="margin-bottom: 30px" class="row">
                                    <div class="col-4">
                                        <img src="${value.imgUrl}"
                                            class="img-thumbnail" alt="...">
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">${value.name}</a>
                                                <p style="font-size: .8rem;">Địa danh: ${value.diaDanh}</p>
                                                <div class="customize-raise-reduce" style="">
                                                    <span onclick="reduceQuantity('${value.slug}')">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                    <input name="${value.slug}" value='${value.quantity}' type="number">
                                                    <span onclick="raiseQuantity('${value.slug}')">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-4 customize-price-product">
                                                <div>
                                                    <button type="button" onclick="DeleteProduct('${value.slug}')" class="btn-close" aria-label="Close"></button>
                                                </div>
                                                <div>
                                                    <div style="font-weight: 700">${value.priceSell.toLocaleString()}đ</div>
                                                    <div style="text-decoration: line-through">${value.price.toLocaleString()}đ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            `
        ))

        console.log('Render success')
        elementRenderListProduct.innerHTML = html.join('');
    }

    renderListCart();

    reduceQuantity = (slug) => {
        const element = document.querySelector(`input[name="${slug}"]`);
        listCartProductScreen.map(value => {
            if (value.slug === slug) {
                if (value.quantity > 1) {
                    value.quantity -= 1;
                }
            }
        })
        localStorage.setItem('listCart', JSON.stringify(listCartProductScreen));
        renderListCart();
        renderListAtHeaderAgain();
        renderTotalMoney();
      

    }

    raiseQuantity = (slug) => {
        const element = document.querySelector(`input[name="${slug}"]`);
        listCartProductScreen.map(value => {
            if (value.slug === slug) {
                value.quantity += 1;
            }
        })
        quantityProduct(slug);
        localStorage.setItem('listCart', JSON.stringify(listCartProductScreen));
        renderListCart();
        renderListAtHeaderAgain();
        renderTotalMoney();
    }

    DeleteProduct = (slug) => {
        console.log(slug);
        listCartProductScreen = listCartProductScreen.filter(value => {
            return value.slug !== slug
        })
        renderListCart();
        renderQuantityAgain();
        renderListAtHeaderAgain();
        renderTotalMoney();
    }

    //Render total money

    renderTotalMoney = () => {
        let giaTienTamTinh = 0;
        let giaTienGiamGia = 0;
        let giaGocBanDau = 0;
        let tongTien = 0;
        listCartProductScreen.forEach(value => {
            giaTienTamTinh += value.priceSell * value.quantity;
            giaGocBanDau += value.price * value.quantity;
        })

        tongTien = giaTienTamTinh - giaTienGiamGia;

        tamTinh.innerText = giaTienTamTinh.toLocaleString() + 'đ'
        maGiamGia.innerText = giaTienGiamGia.toLocaleString() + 'đ'
        giaGoc.innerText = giaGocBanDau.toLocaleString() + 'đ'
        totalMoney.innerText = tongTien.toLocaleString() + 'đ'
    }
    renderTotalMoney();

    // Render header
    const elementRenderAgainAtHeaderProduct = window.document.querySelector('.quantity');
    renderQuantityAgain = () => {
        elementRenderAgainAtHeaderProduct.innerText = listCartProductScreen.length;
    }

    const elementRenderAgainAtHeaderProductList = window.document.querySelector('.render-list-product')
    renderListAtHeaderAgain = () => {
        let html = listCartProductScreen.map(value => (
            `
                                    <div style="border-bottom: 1px #00000029 solid; margin-top: 10px;" class="col-10 offset-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="${value.imgUrl}"
                                                    class="img-thumbnail" alt="...">
                                            </div>
                                            <div class="col-8">
                                                <a style="text-decoration: none; color: black; font-weight: 600;"
                                                    href="#">${value.name}</a>
                                                <div style="color: #ffba00;font-weight:700">
                                                    ${value.priceSell.toLocaleString()}đ
                                                    <span
                                                        style="text-decoration: line-through; color:darkgrey; font-weight:400; margin-left: 10px">${value.price.toLocaleString()}đ</span>
                                                </div>
                                                <p style="font-size: .8rem; margin-bottom: 0">Địa danh: Hà Tiên</p>
                                                <h6>SL: ${value.quantity}</h6>
                                            </div>
                                        </div>
                                    </div>
            `
        ))
        elementRenderAgainAtHeaderProductList.innerHTML = html.join('');
    }

    //Handle 
    btnPayment.onclick = (e) => {
        showAlertMorriStore('alert-warning', 'Bạn chưa nhập địa chỉ mua hàng !')
    }

    btnApplyCodeDiscount.onclick = () => {
        showAlertMorriStore('alert-success', 'Code đã được sử dụng !')
    }
</script>