<title>Home</title>
<link rel="stylesheet" href="/css/home.css">

<div>
    <div class="header-home">
        <h2 class="header-home__title">MORRI STORE</h2>
        <h4>Mua sắm quà lưu niệm thoải mái </h4>
        <div style="margin-bottom: 30px;" class="header-home__search">
            <form action="/product/search" method="GET">
                <input name="slug" placeholder="Tìm kiếm sản phẩm tại đây" class="header-home__search-input"
                    type="text">
                <button type="submit" class="header-home__search-btn">
                    <i class="fas fa-search"></i>
                    Search
                </button>
            </form>
        </div>
        <div>
            <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="numbertext">1 / 5</div>
                    <img src="/img/home-header/gift_1.png" style="width:100%">
                    <div class="text">MORRI STORE</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 5</div>
                    <img src="/img/home-header/gift_2.png" style="width:100%">
                    <div class="text">MORRI STORE</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 5</div>
                    <img src="/img/home-header/gift_3.png" style="width:100%">
                    <div class="text">MORRI STORE</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">4 / 5</div>
                    <img src="/img/home-header/gift_4.png" style="width:100%">
                    <div class="text">MORRI STORE</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">5 / 5</div>
                    <img src="/img/home-header/gift_5.png" style="width:100%">
                    <div class="text">MORRI STORE</div>
                </div>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
            </div>
        </div>
    </div>

    {{!-- Tỉnh thành --}}
    <div class="grid wide container">
        <div class="cook__heading">HOT HIT</div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 ">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/hanoi.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">Hà Nội</p>
                            <p class="cook__index hot-hit-ha-noi">100 món</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/hcm.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">TP.HCM</p>
                            <p class="cook__index hot-hit-tphcm">112 món</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/danang.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">Đà Nẵng</p>
                            <p class="cook__index hot-hit-da-nang">70 món</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/cantho.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">Cần Thơ</p>
                            <p class="cook__index hot-hit-can-tho">92 món</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/thonhiky.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">Huế</p>
                            <p class="cook__index hot-hit-hue">104 món</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/phap.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">An Giang</p>
                            <p class="cook__index hot-hit-an-giang">132 món</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/anh.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">Lâm Đồng</p>
                            <p class="cook__index hot-hit-lam-dong">703 món</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a style="text-decoration: none; color: black" href="">
                    <div class="cook__card">
                        <img class="cook__image" src="/img/dia-diem/y.jpg" alt="">
                        <div class="cook__title">
                            <p class="cook__address">Bình Thuận</p>
                            <p class="cook__index hot-hit-binh-thuan">922 món</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="cook__heading">Souvenir - Quà lưu niệm</div>
        </div>
        <div class="row render-product-home-screen">

        </div>
    </div>

    {{!-- Blog --}}
    <div class="grid wide container">
        <div class="cook__heading">BLOG - cẩm nang du lịch</div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="cook__blog-card">
                    <img class="cook__blog-card-img"
                        src="https://cdn.tgdd.vn/Files/2021/10/20/1392184/top-qua-luu-niem-y-nghia-cho-nhieu-doi-tuong-kh-17.png"
                        alt="">
                    <div class="cook__blog-card-address">
                        <a href="/blog/61ad8940ab0179831428c956">Quà lưu niệm đặc trưng của Việt Nam</a>
                    </div>
                    <p class="cook__blog-card-date">28 Tháng Ba, 2020</p>
                    <p class="cook__blog-card-border"></p>
                    <p class="cook__blog-card-description">Quà lưu niệm là những món quà không đặt nặng giá trị vật
                        chất.
                        Thay vào đó, ý nghĩa về mặt tinh thần là yếu tố quan trọng hơn hết khi tặng quà lưu niệm.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="cook__blog-card">
                    <img class="cook__blog-card-img" src="https://donghothuysy.vn/upload_images/images/dsc00135.jpg"
                        alt="">
                    <div class="cook__blog-card-address">
                        <a href="/blog/61ad8da30b0c0b55f6822588">Ý nghĩa tặng đồng hồ đeo tay cho người yêu</a>
                    </div>
                    <p class="cook__blog-card-date">28 Tháng Tư, 2020</p>
                    <p class="cook__blog-card-border"></p>
                    <p class="cook__blog-card-description">Tặng quà sinh nhật cho người yêu là đồng hồ mang ý nghĩa thể
                        hiện tình cảm chân thành,
                        mong muốn cùng nhau vượt qua mọi khó khăn trong cuộc sống. Chắc hẳn trong chúng ta ai cũng biết,
                        tặng quà là hành động không thể thiếu giữa các cặp đôi,
                        giúp chúng ta thể hiện tình cảm và sự yêu thương dành cho đối phương. Những món quà tình cảm ấy
                        sẽ gắn kết yêu thương thật nhiều.
                        Và quả thật không thể bỏ qua ý nghĩa tặng đồng hồ đeo tay cho người yêu. Một món quà bất ngờ có
                        thể không cần quá xa xỉ,
                        điều quan trọng là nó thể hiện được tình cảm của bạn và đem đến niềm vui cho đối phương.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="cook__blog-card">
                    <img class="cook__blog-card-img"
                        src="https://momoshop.com.vn/wp-content/uploads/2019/12/qua-tang-nguoi-yeu.jpg" alt="">
                    <div class="cook__blog-card-address">
                        <a href="/blog/61ad8eea0b0c0b55f6822594">Quà tặng cho người yêu nữ – chỉ dành cho nam giới</a>
                    </div>
                    <p class="cook__blog-card-date">28 Tháng Ba, 2021</p>
                    <p class="cook__blog-card-border"></p>
                    <p class="cook__blog-card-description">Quà tặng người yêu luôn là sự cống hiến, chân thành và trọn
                        vẹn của cảm xúc mà người gửi muốn gửi đến người nhận.
                        Nhưng mọi người nói rằng một món quà có giá trị hay không bằng cách tặng nó. Vì vậy, khi tặng
                        quà,
                        bạn nên đưa ra những câu nói ý nghĩa để khiến người yêu cảm thấy hạnh phúc và cảm động khi nhận
                        quà từ bạn.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="cook__blog-card">
                    <img class="cook__blog-card-img"
                        src="https://blog.quatructuyen.com/wp-content/uploads/2018/01/cau-chuyen-cuoc-doi.jpg" alt="">
                    <div class="cook__blog-card-address">
                        <a href="/blog/61ad938c0b0c0b55f68225ba">Giai đoạn đẹp nhất của cuộc đời
                        </a>
                    </div>
                    <p class="cook__blog-card-date">2 Tháng Mười, 2020</p>
                    <p class="cook__blog-card-border"></p>
                    <p class="cook__blog-card-description">Anh Chị ạ, có nhiều thứ khiến cho cuộc sống chẳng bao giờ
                        hoàn hảo cả.
                        Thế nhưng vui buồn sướng khổ là do ta tự cảm thấy thế, rồi khiến cho động lực cuộc sống chẳng
                        còn ý nghĩa gì nữa.
                        Hãy luôn tạo cho mình những mục tiêu và tìm cách chinh phục mục tiêu đó, để cuộc sống thú vị
                        hơn.</p>
                </div>
            </div>
        </div>
        <div class="row blog__sign-in">
            <div class="blog_sign-in-left">
                <h1 class="blog__sign-in-left-title">Blog chia sẽ về du lịch và những món quà</h1>
                <p class="blog__sign-in-left-description"> “Giá trị của món quà không nằm trong món quà, mà trong chính
                    tấm lòng của người trao tặng” . “Hãy bắt đầu làm những việc cần thiết, sau đó làm những việc bạn có
                    thể, và tự nhiên bạn có thể làm những điều không thể” </p>
                <a href="/blog" class="btn blog__btn">Xem thêm</a>
            </div>
            <div class="blog_sign-in-right"></div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var slideIndex = 0;
    showSlides();
    const renderProductHomeScreenElement = document.querySelector('.render-product-home-screen')

    let elementHaNoi = document.querySelector('.hot-hit-ha-noi')
    let elementTphcm = document.querySelector('.hot-hit-tphcm')
    let elementDaNang = document.querySelector('.hot-hit-da-nang')
    let elementCanTho = document.querySelector('.hot-hit-can-tho')
    let elementHue = document.querySelector('.hot-hit-hue')
    let elementAnGiang = document.querySelector('.hot-hit-an-giang')
    let elementLamDong = document.querySelector('.hot-hit-lam-dong')
    let elementBinhThuan = document.querySelector('.hot-hit-binh-thuan')


    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 7000); // Change image every 2 seconds
    }

    renderDanhGia = (rating) => {
        if (rating) {
            return `
            <p style="margin-bottom: 10px;"><span style="padding-right: 5px;">Đánh giá:</span> {{~rating}} <i
                                                    style="color: #ffba00;" class="fas fa-star"></i></p>
            `
        } else {
            return `
            <p style="margin-bottom: 10px;">Chưa có đánh giá</p>
            `
        }
    }

    renderProductHomeScreen = async () => {
        try {
            await axios.get('http://localhost:3000/product/get-product')
                .then(res => {
                    let hanoi = 0
                    let tphcm = 0
                    let danang = 0
                    let cantho = 0
                    let hue = 0
                    let angiang = 0
                    let lamdong = 0
                    let binhthuan = 0

                    let html = ''
                    
                    res.data.data.map((value, key) => {
                        switch (value.province) {
                            case 'Hà Nội':
                                hanoi++
                                break;
                            case 'TP.HCM':
                                tphcm++
                                break;
                            case 'Đà Nẵng':
                                danang++
                                break;
                            case 'Cần Thơ':
                                cantho++
                                break;
                            case 'Huế':
                                hue++
                                break;
                            case 'An Giang':
                                angiang++
                                break;
                            case 'Lâm Đồng':
                                lamdong++
                                break;
                            case 'Bình Thuận':
                                binhthuan++
                                break;
                            default:
                                break;
                        }
                        if (key < 8) {
                            html += `
                                <div style="margin-bottom: 30px" class='col-sm-6 col-lg-4 col-xl-3'>
                                    <div class="card card-product" style="width: 18rem;">
                                        <div style="color:rgba(255, 255, 255, 0.541); font-size: 2.5rem;" class="overlay-product">
                                            <a href="/product/view-product/${value._id}">
                                                <i class="fas fa-cart-arrow-down hover-cart-to-product">
                                                </i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <div style="overflow: hidden;">
                                                <img src="${value.imgUrl}" class="card-img-top cook__blog-card-img-product" alt="Lỗi">
                                            </div>
                                            <div class="card-body">
                                                <h5 style="margin-bottom: 10px;" class="card-title product-name">${value.name}</h5>
                                                <p style="margin-bottom: 10px;" class="card-text cook__blog-card-description">${value.description}</p>
                                                <p style="display:flex; justify-content:space-between;margin-bottom: 10px;" class="card-text">
                                                    <span
                                                        style="color: #ffba00;font-weight:700;font-size: 1.2rem;">${value.currentPrice}đ</span>
                                                    <span
                                                        style="font-size: 1.2rem;text-decoration: line-through; color:darkgrey; font-weight:400;">${value.sellPrice}đ</span>
                                                </p>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div>
                                                        ${renderDanhGia(value.rating)}
                                                    </div>
                                                    <div style="color:darkgrey ;">Còn lại: {{this.remain}}</div>
                                                </div>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div style="color:#6f787e; font-style:italic">
                                                        ${value.location}    
                                                    </div>
                                                    <div style="color:#6f787e;font-style:italic">${value.province}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                `
                        }
                    })
                    renderProductHomeScreenElement.innerHTML = html;
                    
                    elementHaNoi.innerText = hanoi + ' sản phẩm'
                    elementTphcm.innerText = tphcm + ' sản phẩm'
                    elementDaNang.innerText = danang + ' sản phẩm'
                    elementCanTho.innerText = cantho + ' sản phẩm'
                    elementHue.innerText = hue + ' sản phẩm'
                    elementAnGiang.innerText = angiang + ' sản phẩm'
                    elementLamDong.innerText = lamdong + ' sản phẩm'
                    elementBinhThuan.innerText = binhthuan + ' sản phẩm'

                })
                .catch(err => {
                })
        } catch (e) {
            console.log(e)
        }
    }

    renderProductHomeScreen()

</script>