<title>Sản phẩm</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="/css/product.css">

<div class="wrapper">
    <div class="container">
        <div class="fast-navbar d-none">
            <div class="fast-navbar-item" onclick="clickFastNavbar('Fire')">
                <i class="fas fa-fire"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-compass"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-clock"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-bars"></i>    
            </div>
        </div>
        {{!-- <a class="add-product-button" href="product/add-product-view">Add product</a>
        <a class="add-product-button" href="product/update-product-view">
            Edit Product 
        </a> --}}
        {{#ifCond user.role '==' 'admin' }}
        <a class="add-product-button product-screen" href="product/manager-view">
            Product Manager 
        </a>
        <div style='margin-top: -60px'></div>
        {{/ifCond}}
        
        {{!-- Phần breadscrum --}}
        {{!-- <div class="breadscrum">
            <ol class='breadscrum-list'>    
                <li class='breadscrum-item'>
                    <a href="/home">
                        <span>Home</span>
                    </a>
                </li>
                >>
                <li class='breadscrum-item'>
                    <a href="/home/figure">
                        <span>Figure</span>
                    </a>
                </li>
                >>
                <li class='breadscrum-item'>
                    <a href="/home/figure/Stein;Gate">
                        <span>Stein;Gate</span>
                    </a>
                </li>
            </ol>
        </div> --}}
        {{!-- <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
        <button onclick="uploadPicture()">
            Send picture
        </button> --}}

        {{!-- Đây là phần modal --}}
        <!-- Modal -->
        <div class="picture-modal d-none" id="pictureModal">
            <div class="picture-modal-dialog" onclick="changePictureModal()">
                <div class="modal-content picture-modal-container">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Product picture viewer</h5>
                        <button type="button" class="btn-close" onclick="changePictureModal()"   aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="product-image col-8 modal-image">
                            <img class="product-current-img" src="/img/figure/figure1.jfif" alt="">
                            {{!-- <img class="product-image-1" src="/img/figure/figure1.jfif" alt="">     --}}  
                        </div>
                    </div>
                    <div class="modal-footer image-modal-footer">
                        <button type="button" class="btn btn-secondary btn-close-modal" onclick="changePictureModal()">Close</button>
                        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                    </div>
                </div>
            </div>
        </div>
    
        {{!-- Đây là nơi hiển thị list các product   --}}
        <div class="cook__heading" style='margin-top: 90px'>Quà lưu niệm hot</div>
        <div class="row render-product-home-screen">

        </div>
        <div class="cook__heading">Quà lưu niệm được giảm giá</div>
        <div class="row render-product-home-screen-2">

        </div>
        <div class="cook__heading">Quà lưu niệm đáng mua</div>
        <div class="row render-product-home-screen-1">

        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var imageName = "Image chưa được thay đổi";
    var modalContainer = document.querySelector('.modal-content.picture-modal-container');
    modalContainer.addEventListener('click', function (event)
    {
        event.stopPropagation();
    });
    function clickFastNavbar(message) {
        alert(message);
    }
    function changePictureModal(){
        
        var pictureModal = document.querySelector('#pictureModal');
        if(pictureModal.classList.contains('d-none')){
            if(window.innerWidth >=800)
                pictureModal.classList.remove('d-none');
        }
        else pictureModal.classList.add('d-none');
    }

    {{!-- document.getElementById('avatar').onchange = function(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById(outImage).src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    } --}}


    async function addProduct() {
        alert('Đang chạy axios')
        try{
            const data = { 
                productID: '1', 
                name: 'Iphone 1 promax', 
                location: 'Hawai', 
                province: 'Akihabara, Tokyo', 
                quantity: 123, 
                remain: 12,
                originalPrice: 120000,
                sellPrice: 139000,
                currentPrice: 130000,
                imgUrl: "https://res.cloudinary.com/databaseimg/image/upload/v1637735182/f8dxrubo9icgb5o5iyf2.jpg",
                description: "Đây là sản phẩm mới nhất của apple. Không thể tin được, thật không thể tin được là apple lại nhảy từ 13 về 1",
                unit: 'phone',
                rating: 4.3,
            };
            console.log("data", data);
            await axios.post(`http://localhost:3000/product/add-product`, data)
            .then(res => {
                console.log("Save success");
                alert("Lưu thành công")
            })
            .catch(err => {
                alert(err);
                if(err.response.data.message)
                {
                    alert(err.response.data.message);
                }
                console.log(err);
                isAddOK = false;
            })
        }
        catch(e)
        {
            alert(e);
        }
    };

    function uploadPicture() 
    {
        var fileName = document.getElementById('avatar').files[0];
        console.log(fileName);
        const formData = new FormData();
        formData.append("file", fileName)
        formData.append("upload_preset", "phiroud");
        axios.post(`https://api.cloudinary.com/v1_1/phiroud321/image/upload`, formData)
            .then(res => {
                console.log("link", res.data.url);
            })
            .catch(err => {
                console.log("Thất bại");
            })
    }

    async function addToCart() {
        try{
            const data = {
                email: localStorage.getItem('username'),
                userCode: userCode,
                productID: '91', 
                name: 'Iphone 1 promax', 
                location: 'Hawai', 
                province: 'Akihabara, Tokyo', 
                quantity: 123, 
                remain: 12,
                originalPrice: 120000,
                sellPrice: 139000,
                currentPrice: 130000,
                imgUrl: "https://res.cloudinary.com/databaseimg/image/upload/v1637735182/f8dxrubo9icgb5o5iyf2.jpg",
                description: "Đây là sản phẩm mới nhất của apple. Không thể tin được, thật không thể tin được là apple lại nhảy từ 13 về 1",
                unit: 'phone',
                rating: 4.3,
            };
            console.log("data", data);
            await axios.post(`http://localhost:3000/product/add-to-cart`, data)
            .then(res => {
                showAlertMorriStore('alert-success', 'Thêm cart thành công !')
            })
            .catch(err => {
                alert(err);
                if(err.response.data.message)
                {
                    alert(err.response.data.message);
                }
                console.log(err);
                isAddOK = false;
            })
            // Chạy các hàm refresh của bé Thiện
            
            var isFound = false;
            for(var i = 0 ; i < cartUser.length; i++)
            {
                if(cartUser[i].product.productID == data.productID)
                {
                    cartUser[i].quantity++;
                    isFound = true;
                    break;
                }
            }
            
            if(!isFound)
            {
                cartUser.push(
                    {
                        product: {
                            productID: data.productID, 
                            name: data.name, 
                            location: data.location, 
                            province: data.province, 
                            quantity: data.quantity, 
                            remain: data.remain,
                            originalPrice: data.originalPrice,
                            sellPrice: data.sellPrice,
                            currentPrice: data.currentPrice,
                            imgUrl: data.imgUrl,
                            description: data.description,
                            unit: data.unit,
                            rating: data.rating,
                        },
                        quantity: 1,
                    }
                )
            }

            console.log("cartUser", cartUser);
            renderProduct()
            renderQuantity()
            renderQuantityTotal()
            
        }
        catch(e)
        {
            alert(e);
            console.log(e);
        }
    };
        
    renderDanhGia = (rating) => {
        if (rating) {
            return `
            <p style="margin-bottom: 10px;"><span style="padding-right: 5px;">Đánh giá:</span> ${rating} <i
                                                    style="color: #ffba00;" class="fas fa-star"></i></p>
            `
        } else {
            return `
            <p style="margin-bottom: 10px;">Chưa có đánh giá</p>
            `
        }
    }
    function randomInRange(start,end){
       return Math.floor(Math.random() * (end - start + 1) + start);
    }

    renderProductHomeScreen = async () => {
        try {
            await axios.get('http://localhost:3000/product/get-product')
                .then(res => {
                    console.log('res', res)
                    let html = ''
                    var deleteOutOfNumber = [];
                    res.data.data.map((value) => {
                            if(randomInRange(0,1)==0 && value.remain > 0 )
                            html += `
                                <div style="margin-bottom: 30px" class='col-sm-6 col-lg-4 col-xl-3'>
                                    <div class="card card-product" style="width: 18rem;">
                                        <div style="color:rgba(255, 255, 255, 0.541); font-size: 2.5rem;" class="overlay-product">
                                            <a href="/product/view-product/${value._id}">
                                                <i class="fas fa-cart-arrow-down hover-cart-to-product">
                                                </i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <div style="overflow: hidden;">
                                                <img src="${value.imgUrl}" class="card-img-top cook__blog-card-img-product" alt="Lỗi">
                                            </div>
                                            <div class="card-body">
                                                <h5 style="margin-bottom: 10px;" class="card-title product-name">${value.name}</h5>
                                                <p style="margin-bottom: 10px;" class="card-text cook__blog-card-description">${value.description}</p>
                                                <p style="display:flex; justify-content:space-between;margin-bottom: 10px;" class="card-text">
                                                    <span
                                                        style="color: #ffba00;font-weight:700;font-size: 1.2rem;">${value.currentPrice}đ</span>
                                                    <span
                                                        style="font-size: 1.2rem;text-decoration: line-through; color:darkgrey; font-weight:400;">${value.sellPrice}đ</span>
                                                </p>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div>
                                                        ${renderDanhGia(value.rating)}
                                                    </div>
                                                    <div style="color:darkgrey ;">Còn lại: ${value.remain}</div>
                                                </div>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div style="color:#6f787e; font-style:italic">
                                                        ${value.location}    
                                                    </div>
                                                    <div style="color:#6f787e;font-style:italic">${value.province}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                `
                    })
                    console.log(document.querySelector('.render-product-home-screen'));
                    document.querySelector('.render-product-home-screen').innerHTML = html;
                })
                .catch(err => {
                    console.log(err)
                })
        } catch (e) {
            console.log(e)
        }
    }
    renderProductHomeScreen1 = async () => {
        try {
            await axios.get('http://localhost:3000/product/get-product')
                .then(res => {
                    console.log('res', res)
                    let html = ''
                    
                    res.data.data.map((value) => {
                            if(randomInRange(0,1)==0 && value.remain > 0 )
                            html += `
                                <div style="margin-bottom: 30px" class='col-sm-6 col-lg-4 col-xl-3'>
                                    <div class="card card-product" style="width: 18rem;">
                                        <div style="color:rgba(255, 255, 255, 0.541); font-size: 2.5rem;" class="overlay-product">
                                            <a href="/product/view-product/${value._id}">
                                                <i class="fas fa-cart-arrow-down hover-cart-to-product">
                                                </i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <div style="overflow: hidden;">
                                                <img src="${value.imgUrl}" class="card-img-top cook__blog-card-img-product" alt="Lỗi">
                                            </div>
                                            <div class="card-body">
                                                <h5 style="margin-bottom: 10px;" class="card-title product-name">${value.name}</h5>
                                                <p style="margin-bottom: 10px;" class="card-text cook__blog-card-description">${value.description}</p>
                                                <p style="display:flex; justify-content:space-between;margin-bottom: 10px;" class="card-text">
                                                    <span
                                                        style="color: #ffba00;font-weight:700;font-size: 1.2rem;">${value.currentPrice}đ</span>
                                                    <span
                                                        style="font-size: 1.2rem;text-decoration: line-through; color:darkgrey; font-weight:400;">${value.sellPrice}đ</span>
                                                </p>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div>
                                                        ${renderDanhGia(value.rating)}
                                                    </div>
                                                    <div style="color:darkgrey ;">Còn lại: ${value.remain}</div>
                                                </div>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div style="color:#6f787e; font-style:italic">
                                                        ${value.location}    
                                                    </div>
                                                    <div style="color:#6f787e;font-style:italic">${value.province}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                `
                    })
                    document.querySelector('.render-product-home-screen-1').innerHTML = html;
                })
                .catch(err => {
                    console.log(err)
                })
        } catch (e) {
            console.log(e)
        }
    }
    renderProductHomeScreen2 = async () => {
        try {
            await axios.get('http://localhost:3000/product/get-product')
                .then(res => {
                    console.log('res', res)
                    let html = ''
                    
                    res.data.data.map((value) => {
                            if(randomInRange(0,1)<2 && value.remain > 0)
                            html += `
                                <div style="margin-bottom: 30px" class='col-sm-6 col-lg-4 col-xl-3'>
                                    <div class="card card-product" style="width: 18rem;">
                                        <div style="color:rgba(255, 255, 255, 0.541); font-size: 2.5rem;" class="overlay-product">
                                            <a href="/product/view-product/${value._id}">
                                                <i class="fas fa-cart-arrow-down hover-cart-to-product">
                                                </i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <div style="overflow: hidden;">
                                                <img src="${value.imgUrl}" class="card-img-top cook__blog-card-img-product" alt="Lỗi">
                                            </div>
                                            <div class="card-body">
                                                <h5 style="margin-bottom: 10px;" class="card-title product-name">${value.name}</h5>
                                                <p style="margin-bottom: 10px;" class="card-text cook__blog-card-description">${value.description}</p>
                                                <p style="display:flex; justify-content:space-between;margin-bottom: 10px;" class="card-text">
                                                    <span
                                                        style="color: #ffba00;font-weight:700;font-size: 1.2rem;">${value.currentPrice}đ</span>
                                                    <span
                                                        style="font-size: 1.2rem;text-decoration: line-through; color:darkgrey; font-weight:400;">${value.sellPrice}đ</span>
                                                </p>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div>
                                                        ${renderDanhGia(value.rating)}
                                                    </div>
                                                    <div style="color:darkgrey ;">Còn lại: ${value.remain}</div>
                                                </div>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div style="color:#6f787e; font-style:italic">
                                                        ${value.location}    
                                                    </div>
                                                    <div style="color:#6f787e;font-style:italic">${value.province}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                `
                    })
                    document.querySelector('.render-product-home-screen-2').innerHTML = html;
                })
                .catch(err => {
                    console.log(err)
                })
        } catch (e) {
            console.log(e)
        }
    }
    renderProductHomeScreen()   
    renderProductHomeScreen1()   
    renderProductHomeScreen2()   
</script>

