<title>Product</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="/css/product.css">

<div class="wrapper">
    <div class="container">
        <div class="fast-navbar d-none">
            <div class="fast-navbar-item" onclick="clickFastNavbar('Fire')">
                <i class="fas fa-fire"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-compass"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-clock"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="fast-navbar-item">
                <i class="fas fa-bars"></i>    
            </div>
        </div>
        {{!-- <a class="add-product-button" href="product/add-product-view">Add product</a>
        <a class="add-product-button" href="product/update-product-view">
            Edit Product 
        </a> --}}
        <a class="add-product-button product-screen" href="product/manager-view">
            Product Manager 
        </a>
        {{!-- Phần breadscrum --}}
        {{!-- <div class="breadscrum">
            <ol class='breadscrum-list'>    
                <li class='breadscrum-item'>
                    <a href="/home">
                        <span>Home</span>
                    </a>
                </li>
                >>
                <li class='breadscrum-item'>
                    <a href="/home/figure">
                        <span>Figure</span>
                    </a>
                </li>
                >>
                <li class='breadscrum-item'>
                    <a href="/home/figure/Stein;Gate">
                        <span>Stein;Gate</span>
                    </a>
                </li>
            </ol>
        </div> --}}
        {{!-- <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
        <button onclick="uploadPicture()">
            Send picture
        </button> --}}
        {{!-- !-- Phần của product   --}}
        <div class="product-container d-none row">
            <div class="product-image col-md-4" onclick="changePictureModal()">
                <img class="product-current-img" src="/img/figure/figure1.jfif" alt="">
                {{!-- <img class="product-image-1" src="/img/figure/figure1.jfif" alt="">     --}}  
            </div>
            <div class="product-info col-md-8">
                <div class="product-name">Figure Makise Kurisu trong visual novel Stein;Gate</div>
                <div class="product-place">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="product-location">Akihabara, Japan</span>
                </div>
                <div class="product-price-sale">
                    <div class="product-old-price">650.000vnd</div>
                    <div class="product-price">650.000vnd</div>
                    <div class="sale-percent">7%</div>
                </div>
                <div class="product-description">
                    Đây là một sản phẩm tuyệt vời dành cho fan của bộ truyện steingate và là quà lưu niệm của những người du lịch từ Akihabara
                </div>
                <div class="product-sold">
                    <div class="sold-title">Đã bán</div>
                    <div class="sold-num">12</div>
                </div>
                <div class="product-rating-average">
                    <i class="product-rating-icon fas fa-star"></i>
                    <i class="product-rating-icon fas fa-star"></i>
                    <i class="product-rating-icon fas fa-star"></i>
                    <i class="product-rating-icon fas fa-star"></i>
                    <i class="product-rating-icon fas fa-star"></i>
                </div>
                <div class="quantity-choose">
                    <div class="quantity-chose-title">Chọn số lượng</div>
                    <div class="input-group bootstrap-touchspin">
                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                        <input type="number" name="qty" id="quantity_wanted" value="1" class="input-group form-control" min="1" aria-label="Quantity" style="display: block;">
                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical">
                        <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                            <i class="material-icons touchspin-up"></i>
                        </button><button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                            <i class="material-icons touchspin-down"></i>
                        </button></span></div>
                </div>
                <div class="buy-container">
                    <button class="add-to-cart bt-add-to-cart" onclick="addToCart()">
                        Add to cart 
                    </button>
                    {{!-- <button class="add-to-cart bt-add-to-cart" onclick="addProduct()">
                        Add product 
                    </button> --}}
                    {{!-- <button class="buy-now">
                        Buy now
                    </button> --}}
                </div>
                
            </div>

        </div>  
        <div class="product-detail-container d-none">
            <div class="detail-title">
                Product Description
            </div>
            <div class="bread-scrum-detail content-container">
                <div class="title">BreadScrum</div>
                <div class="content">Morri Shop >> Figure >> Stern; Gate</div>         
            </div>
            <div class="origin-detail content-container">
                <div class="title">Source</div>
                <div class="content">Akihabara, Japan</div>    
            </div>
            <div class="remain-num content-container">
                <div class="title">Remain</div>
                <div class="content">4</div>    
            </div>
            <div class="detail-description">
                From Max Factory/Good Smile Company. A rerelease?. This must also be the choice of Steins; Gate. From the sci-fi adventure series Steins; Gate comes a rerelease of the young genius, figma Kurisu Makise. Using the smooth yet posable joints of figma and the included articulated figma stand, you can act out a variety of different scenes. She comes with three expressions: a standard face, an angry face and a smirking face to show all sides of her tsundere personality. Extra arm parts are included to recreate her classic "folded arm" pose. Mirai Gadget #6: "Cyalume Saber" is also included. Plus, a total of 12 extra hand parts are included, including hands that allow her to hold important items from the game, such as her cellphone and a drink bottle.
            </div>
        </div>
        <div class="blog-container d-none">
            <div class="blog-title">
                Source place
            </div>
            <div class="blog-desc">
                Akihabara (秋葉原), also called Akiba after a former local shrine, is a district in central Tokyo that is famous for its many electronics shops. In more recent years, Akihabara has gained recognition as the center of Japan's otaku (diehard fan) culture, and many shops and establishments devoted to anime and manga are now dispersed among the electronic stores in the district. On Sundays, Chuo Dori, the main street through the district, is closed to car traffic from 13:00 to 18:00 (until 17:00 from October through March).
                Akihabara has been undergoing major redevelopment over the years, including the renovation and expansion of Akihabara Station and the construction of new buildings in its proximity. Among these newly opened buildings were a huge Yodobashi electronics store and the Akihabara Crossfield, a business complex with the aim of promoting Akihabara as a center for global electronics technology and trade.
            </div>
        </div>
        <div class="rating-container d-none">
            <div class="title">Rating and review</div>
            <div class="row">
                <div class="review-heading">
                    <div class="summary-review">
                        <div class="review-num">5</div>
                        <div class="star-represent">
                            <i class="product-rating-icon fas fa-star"></i>
                            <i class="product-rating-icon fas fa-star"></i>
                            <i class="product-rating-icon fas fa-star"></i>
                            <i class="product-rating-icon fas fa-star"></i>
                            <i class="product-rating-icon fas fa-star"></i>
                        </div>
                        <div class="review-num">9 reviews</div>
                        <div class="star-review-list">
                            <div class="start-review-item">
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <div class="percent-bar"></div>
                                <div class="review-star-num">
                                    9
                                </div>
                            </div>
                            <div class="start-review-item">
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <div class="percent-bar"></div>
                                <div class="review-star-num">
                                    0
                                </div>
                            </div>
                            <div class="start-review-item">
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <div class="percent-bar"></div>
                                <div class="review-star-num">
                                    0
                                </div>
                            </div>
                            <div class="start-review-item">
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <div class="percent-bar"></div>
                                <div class="review-star-num">
                                    0
                                </div>
                            </div>
                            <div class="start-review-item">
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <div class="percent-bar"></div>
                                <div class="review-star-num">
                                    0
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="summary-filter">
                        <div class="filter-title">Filter with:</div>
                        <ul class="list-filter">
                            <li class="list-filter-item">
                                1 <i class="product-rating-icon fas fa-star"></i>
                            </li>
                            <li class="list-filter-item">
                                2 <i class="product-rating-icon fas fa-star"></i>
                            </li>
                            <li class="list-filter-item">
                                3 <i class="product-rating-icon fas fa-star"></i>
                            </li>
                            <li class="list-filter-item">
                                4 <i class="product-rating-icon fas fa-star"></i>
                            </li>
                            <li class="list-filter-item">
                                5 <i class="product-rating-icon fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="review-item-list">
                    <li class="review-item">
                        <div class="review-item-container">
                            <div class="avatar">Avata</div>
                            <div class="name">Nguyễn Công Phi</div>
                            <div class="rated-star">
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                                <i class="product-rating-icon fas fa-star"></i>
                            </div>
                            <div class="review-content">
                                This is the best firgue I have had.. Kurisu is incredible beautiful.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        {{!-- Đây là phần modal --}}
        <!-- Modal -->
        <div class="picture-modal d-none" id="pictureModal">
            <div class="picture-modal-dialog" onclick="changePictureModal()">
                <div class="modal-content picture-modal-container">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Product picture viewer</h5>
                        <button type="button" class="btn-close" onclick="changePictureModal()"   aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="product-image col-8 modal-image">
                            <img class="product-current-img" src="/img/figure/figure1.jfif" alt="">
                            {{!-- <img class="product-image-1" src="/img/figure/figure1.jfif" alt="">     --}}  
                        </div>
                    </div>
                    <div class="modal-footer image-modal-footer">
                        <button type="button" class="btn btn-secondary btn-close-modal" onclick="changePictureModal()">Close</button>
                        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Đây là nơi hiển thị list các product   --}}
        <div class="row render-product-home-screen">

        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var imageName = "Image chưa được thay đổi";
    var modalContainer = document.querySelector('.modal-content.picture-modal-container');
    modalContainer.addEventListener('click', function (event)
    {
        event.stopPropagation();
    });
    function clickFastNavbar(message) {
        alert(message);
    }
    function changePictureModal(){
        
        var pictureModal = document.querySelector('#pictureModal');
        if(pictureModal.classList.contains('d-none')){
            if(window.innerWidth >=800)
                pictureModal.classList.remove('d-none');
        }
        else pictureModal.classList.add('d-none');
    }

    {{!-- document.getElementById('avatar').onchange = function(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById(outImage).src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    } --}}


    async function addProduct() {
        alert('Đang chạy axios')
        try{
            const data = { 
                productID: '1', 
                name: 'Iphone 1 promax', 
                location: 'Hawai', 
                province: 'Akihabara, Tokyo', 
                quantity: 123, 
                remain: 12,
                originalPrice: 120000,
                sellPrice: 139000,
                currentPrice: 130000,
                imgUrl: "https://res.cloudinary.com/databaseimg/image/upload/v1637735182/f8dxrubo9icgb5o5iyf2.jpg",
                description: "Đây là sản phẩm mới nhất của apple. Không thể tin được, thật không thể tin được là apple lại nhảy từ 13 về 1",
                unit: 'phone',
                rating: 4.3,
            };
            console.log("data", data);
            await axios.post(`http://localhost:3000/product/add-product`, data)
            .then(res => {
                console.log("Save success");
                alert("Lưu thành công")
            })
            .catch(err => {
                alert(err);
                if(err.response.data.message)
                {
                    alert(err.response.data.message);
                }
                console.log(err);
                isAddOK = false;
            })
        }
        catch(e)
        {
            alert(e);
        }
    };

    function uploadPicture() 
    {
        var fileName = document.getElementById('avatar').files[0];
        console.log(fileName);
        const formData = new FormData();
        formData.append("file", fileName)
        formData.append("upload_preset", "phiroud");
        axios.post(`https://api.cloudinary.com/v1_1/phiroud321/image/upload`, formData)
            .then(res => {
                console.log("link", res.data.url);
            })
            .catch(err => {
                console.log("Thất bại");
            })
    }

    async function addToCart() {
        try{
            const data = {
                email: localStorage.getItem('username'),
                userCode: userCode,
                productID: '91', 
                name: 'Iphone 1 promax', 
                location: 'Hawai', 
                province: 'Akihabara, Tokyo', 
                quantity: 123, 
                remain: 12,
                originalPrice: 120000,
                sellPrice: 139000,
                currentPrice: 130000,
                imgUrl: "https://res.cloudinary.com/databaseimg/image/upload/v1637735182/f8dxrubo9icgb5o5iyf2.jpg",
                description: "Đây là sản phẩm mới nhất của apple. Không thể tin được, thật không thể tin được là apple lại nhảy từ 13 về 1",
                unit: 'phone',
                rating: 4.3,
            };
            console.log("data", data);
            await axios.post(`http://localhost:3000/product/add-to-cart`, data)
            .then(res => {
                showAlertMorriStore('alert-success', 'Thêm cart thành công !')
            })
            .catch(err => {
                alert(err);
                if(err.response.data.message)
                {
                    alert(err.response.data.message);
                }
                console.log(err);
                isAddOK = false;
            })
            // Chạy các hàm refresh của bé Thiện
            
            var isFound = false;
            for(var i = 0 ; i < cartUser.length; i++)
            {
                if(cartUser[i].product.productID == data.productID)
                {
                    cartUser[i].quantity++;
                    isFound = true;
                    break;
                }
            }
            
            if(!isFound)
            {
                cartUser.push(
                    {
                        product: {
                            productID: data.productID, 
                            name: data.name, 
                            location: data.location, 
                            province: data.province, 
                            quantity: data.quantity, 
                            remain: data.remain,
                            originalPrice: data.originalPrice,
                            sellPrice: data.sellPrice,
                            currentPrice: data.currentPrice,
                            imgUrl: data.imgUrl,
                            description: data.description,
                            unit: data.unit,
                            rating: data.rating,
                        },
                        quantity: 1,
                    }
                )
            }

            console.log("cartUser", cartUser);
            renderProduct()
            renderQuantity()
            renderQuantityTotal()
            
        }
        catch(e)
        {
            alert(e);
            console.log(e);
        }
    };
        
    renderDanhGia = (rating) => {
        if (rating) {
            return `
            <p style="margin-bottom: 10px;"><span style="padding-right: 5px;">Đánh giá:</span> {{~rating}} <i
                                                    style="color: #ffba00;" class="fas fa-star"></i></p>
            `
        } else {
            return `
            <p style="margin-bottom: 10px;">Chưa có đánh giá</p>
            `
        }
    }
    renderProductHomeScreen = async () => {
        try {
            await axios.get('http://localhost:3000/product/get-product')
                .then(res => {
                    console.log('res', res)
                    let html = ''
                    
                    res.data.data.map((value) => {
                            html += `
                                <div style="margin-bottom: 30px" class='col-sm-6 col-lg-4 col-xl-3'>
                                    <div class="card card-product" style="width: 18rem;">
                                        <div style="color:rgba(255, 255, 255, 0.541); font-size: 2.5rem;" class="overlay-product">
                                            <a href="/product/view-product/${value._id}">
                                                <i class="fas fa-cart-arrow-down hover-cart-to-product">
                                                </i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <div style="overflow: hidden;">
                                                <img src="${value.imgUrl}" class="card-img-top cook__blog-card-img-product" alt="Lỗi">
                                            </div>
                                            <div class="card-body">
                                                <h5 style="margin-bottom: 10px;" class="card-title product-name">${value.name}</h5>
                                                <p style="margin-bottom: 10px;" class="card-text cook__blog-card-description">${value.description}</p>
                                                <p style="display:flex; justify-content:space-between;margin-bottom: 10px;" class="card-text">
                                                    <span
                                                        style="color: #ffba00;font-weight:700;font-size: 1.2rem;">${value.currentPrice}đ</span>
                                                    <span
                                                        style="font-size: 1.2rem;text-decoration: line-through; color:darkgrey; font-weight:400;">${value.sellPrice}đ</span>
                                                </p>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div>
                                                        ${renderDanhGia(value.rating)}
                                                    </div>
                                                    <div style="color:darkgrey ;">Còn lại: {{this.remain}}</div>
                                                </div>
                                                <div style="display:flex; justify-content:space-between">
                                                    <div style="color:#6f787e; font-style:italic">
                                                        ${value.location}    
                                                    </div>
                                                    <div style="color:#6f787e;font-style:italic">${value.province}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                `
                    })
                    console.log(document.querySelector('.render-product-home-screen'));
                    console.log('html', html)
                    document.querySelector('.render-product-home-screen').innerHTML = html;
                })
                .catch(err => {
                    console.log(err)
                })
        } catch (e) {
            console.log(e)
        }
    }
    renderProductHomeScreen()   

</script>

