.quantity-chose-title.add-product {
    width: 200px;
}

.quantity-choose.add-product {
    margin-bottom: 10px;
}

.buy-container.add-product {
    
}

.detail-title.add-product {
    margin-left: -13px;
}

.template-button {
    background: var(--primary-color);
    border: none;
    padding: 8px 16px;
    color: #FFF;
    margin-right: 10px;
    border-radius: 4px;
}

.template-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.title.add-product {
    margin-top: 10px;
}

.screen-title {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: -10px;
}