.quantity-chose-title.add-product {
    width: 200px;
}

.quantity-choose.add-product {
    margin-bottom: 10px;
}

.buy-container.add-product {
    
}

.detail-title.add-product {
    margin-left: -13px;
}