.template-button {
    background: var(--primary-color);
    border: none;
    padding: 8px 16px;
    color: #FFF;
    margin-right: 10px;
    border-radius: 4px;
}

.text-error {
    color: red;
}

.delete-review {
    color: var(--primary-color);
    margin-left: 20px;
}

.delete-review:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #b80f0a;
    
}